<mat-toolbar class="HeaderComponent" [ngClass]="{'HeaderComponent__layout--higher': isHigher, 'HeaderComponent__layout--highest': isHigheest}" color="primary">
  <button mat-icon-button class="HeaderComponent__menuicon" (click)="onToggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="HeaderComponent__layout">
    <h1 class="HeaderComponent__title">{{'HeaderComponent.title' | translate}} {{version}}</h1>
    <div class="HeaderComponent__linkboxes">
      @if (stableUpdateVersion) {
        <div class="HeaderComponent__linkbox">
          <a [href]="stableUpdateUrl"
            class="HeaderComponent__link"
            target="_blank"
          >{{'HeaderComponent.newVersionAvailable' | translate: {version: stableUpdateVersion} }}</a>
        </div>
      }
      @if (betaUpdateVersion) {
        <div class="HeaderComponent__linkbox">
          <a [href]="betaUpdateUrl"
            class="HeaderComponent__link"
            target="_blank"
            ><span class="HeaderComponent__versionQualifier">BETA</span>{{'HeaderComponent.newVersionAvailable' | translate: {version: betaUpdateVersion} }}</a>
          </div>
        }
      </div>
    </div>
  </mat-toolbar>
