<form class="StatusEditComponent" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="StatusComponent__appliance-details-row">
    <mat-form-field class="StatusEditComponent__runTime">
      <mat-label>{{'StatusComponent.plannedRunningTime' | translate}}</mat-label>
      <input matInput type="text" class="time-of-day clockpicker" formControlName="runTime"
             placeholder="00:00"
             required="{{formHandler.isRequired('runTime')}}">
    </mat-form-field>
  </div>
  <div class="StatusComponent__appliance-details-row StatusComponent__appliance-button-row">
    <button mat-raised-button type="button" (click)="cancelForm()">{{'StatusComponent.buttonCancel' | translate}}</button>
    <button mat-raised-button type="submit" color="primary"
            [disabled]="form.invalid">{{'StatusComponent.buttonStart' | translate}}</button>
  </div>
</form>
