.TrafficLightComponent {
  &__traffic-light {
    height: 113px;
    width: 40px;
    float: left;
    background-color: #333;
    border-radius: 8px;
    padding: 2px;
  }

  &__traffic-light-small {
    height: 26px;
    width: 10px;
    float: left;
    background-color: #333;
    border-radius: 2px;
    margin: 0.1rem 0.375rem 0 0;
    padding: 1px;
  }

  &__bulb {
    height: 30px;
    width: 30px;
    background-color: #111;
    border-radius: 50%;
    margin: 5px auto;
    transition: background 500ms;
  }

  &__bulb-small {
    height: 7px;
    width: 7px;
    background-color: #111;
    border-radius: 50%;
    margin: 1px auto;
    transition: background 500ms;
  }

  &__stopLight {
    background-color: red;
  }

  &__slowLight {
    background-color: yellow;
  }

  &__slowLight-blink {
    -webkit-animation: yellow-blink 1s infinite; /* Safari 4+ */
    -moz-animation:    yellow-blink 1s infinite; /* Fx 5+ */
    -o-animation:      yellow-blink 1s infinite; /* Opera 12+ */
    animation:         yellow-blink 1s infinite; /* IE 10+, Fx 29+ */
  }

  @-webkit-keyframes yellow-blink {
    0%, 49% {
      background-color: yellow;
    }
    50%, 100% {
      background-color: #111;
    }
  }

  &__goLight {
    background-color: #14ff08;
  }

  &__goLight-blink {
    -webkit-animation: green-blink 1s infinite; /* Safari 4+ */
    -moz-animation:    green-blink 1s infinite; /* Fx 5+ */
    -o-animation:      green-blink 1s infinite; /* Opera 12+ */
    animation:         green-blink 1s infinite; /* IE 10+, Fx 29+ */
  }

  @-webkit-keyframes green-blink {
    0%, 49% {
      background-color: #14ff08;
    }
    50%, 100% {
      background-color: #111;
    }
  }

  &__lds-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 32px;
  }
  &__lds-spinner div {
    transform-origin: 20px 20px;
    animation: lds-spinner 1.2s linear infinite;
  }
  &__lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 2px;
    left: 18px;
    width: 3px;
    height: 9px;
    border-radius: 20%;
    background: white;
  }
  &__lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  &__lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  &__lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  &__lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  &__lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  &__lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  &__lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  &__lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  &__lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  &__lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  &__lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  &__lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

