<div [class]="trafficLightClass">
  <div *ngIf="!showLoadingIndicator">
    <div [class]="bulbClass" [class.TrafficLightComponent__stopLight]="true" *ngIf="isRed() && !isRedBlink()"></div>
    <div [class]="bulbClass" [class.TrafficLightComponent__stopLight]="true"
         [class.TrafficLightComponent__stopLight-blink]="isRedBlink()"
         *ngIf="isRedBlink()"
    ></div>
    <div [class]="bulbClass" *ngIf="!isRed() && !isRedBlink() && isRedClickable()"
         (click)="onRedClick()"
         matTooltip="{{'StatusComponent.tooltipStopLight' | translate}}"
         [matTooltipDisabled]="'matTooltipDisabled' | env"
    ></div>
    <div [class]="bulbClass" *ngIf="!isRed() && !isRedBlink() && !isRedClickable()"></div>

    <div [class]="bulbClass" [class.TrafficLightComponent__slowLight]="true" *ngIf="isYellow() && !isYellowBlink()"></div>
    <div [class]="bulbClass" [class.TrafficLightComponent__slowLight]="true"
         [class.TrafficLightComponent__slowLight-blink]="isYellowBlink()"
         *ngIf="isYellowBlink()"
    ></div>
    <div [class]="bulbClass" *ngIf="!isYellow() && !isYellowBlink()"></div>

    <div [class]="bulbClass" [class.TrafficLightComponent__goLight]="true" *ngIf="isGreen()"></div>
    <div *ngIf="isGreenBlink()">
      <div [class]="bulbClass" [class.TrafficLightComponent__goLight]="true"
           [class.TrafficLightComponent__goLight-blink]="isGreenBlink()"
           (click)="onGreenClick()"
           matTooltip="{{'StatusComponent.tooltipGoLight' | translate}}"
           [matTooltipDisabled]="'matTooltipDisabled' | env"
      ></div>
    </div>
    <div *ngIf="!(isGreen() || isGreenBlink())">
      <div [class]="bulbClass" *ngIf="! isGreenClickable()"></div>
      <div [class]="bulbClass" *ngIf="isGreenClickable()"
           (click)="onGreenClick()"
           matTooltip="{{'StatusComponent.tooltipGoLight' | translate}}"
           [matTooltipDisabled]="'matTooltipDisabled' | env"
      ></div>
    </div>
  </div>
  <div *ngIf="showLoadingIndicator">
    <div class="TrafficLightComponent__lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
