<div [class]="trafficLightClass">
  <div *ngIf="!showLoadingIndicator">
    <div [class]="bulbClass" [class.TrafficLightComponent__stopLight]="true" *ngIf="isRed(); else stopLightOffClickable"></div>
    <ng-template #stopLightOffClickable>
      <div [class]="bulbClass" *ngIf="isRedClickable(); else stopLightOff"
           (click)="onRedClick()"
           matTooltip="{{'StatusComponent.tooltipStopLight' | translate}}"></div>
    </ng-template>
    <ng-template #stopLightOff>
      <div [class]="bulbClass" *ngIf="!isRed()"></div>
    </ng-template>

    <div [class]="bulbClass" [class.TrafficLightComponent__slowLight]="true" *ngIf="isYellow()"></div>
    <div [class]="bulbClass" [class.TrafficLightComponent__slowLight]="true"
         [class.TrafficLightComponent__slowLight-blink]="isYellowBlink()"
         *ngIf="isYellowBlink()"
    ></div>
    <div [class]="bulbClass" *ngIf="!isYellow() && !isYellowBlink()"></div>

    <div [class]="bulbClass" [class.TrafficLightComponent__goLight]="true" *ngIf="isGreen()"></div>
    <div *ngIf="isGreenBlink()">
      <div [class]="bulbClass" [class.TrafficLightComponent__goLight]="true"
           [class.TrafficLightComponent__goLight-blink]="isGreenBlink()"
           (click)="onGreenClick()"
           matTooltip="{{'StatusComponent.tooltipGoLight' | translate}}"
      ></div>
    </div>
    <div *ngIf="!(isGreen() || isGreenBlink())">
      <div [class]="bulbClass" *ngIf="! isGreenClickable()"></div>
      <div [class]="bulbClass" *ngIf="isGreenClickable()"
           (click)="onGreenClick()"
           matTooltip="{{'StatusComponent.tooltipGoLight' | translate}}"
      ></div>
    </div>
  </div>
  <div *ngIf="showLoadingIndicator">
    <div class="TrafficLightComponent__lds-spinner">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
