<div class="ui fields">
  <div class="field">
    <label class="sae-label">{{'HttpReadComponent.contentType' | translate}}</label>
    <input type="text" formControlName="contentType">
  </div>
  <div class="field">
    <label class="sae-label">{{'HttpReadComponent.username' | translate}}</label>
    <input type="text" formControlName="username">
  </div>
  <div class="field">
    <label class="sae-label">{{'HttpReadComponent.password' | translate}}</label>
    <input type="text" formControlName="password">
  </div>
</div>
