<h4 class="ui dividing header sae-header" *ngIf="valueName">{{valueName}}</h4>
<div class="ui fields">
  <div class="six wide field">
    <label>{{'HttpReadComponent.url' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('url')}}">
    <div *ngIf="errors[this.getFormControlName('url')]"
         class="ui negative message">{{errors[this.getFormControlName('url')]}}</div>
  </div>
  <div class="field">
    <label>{{'HttpReadComponent.contentType' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('contentType')}}">
  </div>
  <div class="field">
    <label>{{'HttpReadComponent.username' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('username')}}">
  </div>
  <div class="field">
    <label>{{'HttpReadComponent.password' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('password')}}">
  </div>
</div>
<div *ngFor="let httpReadValue of httpRead.readValues; index as i">
  <div class="ui fields">
    <app-http-read-value
      [httpReadValue]="httpReadValue"
      [formControlNamePrefix]="getReadValueFormControlPrefix(i)"
      [valueNames]="valueNames"
      [translationPrefix]="translationPrefix"
      [translationKeys]="translationKeys"
    ></app-http-read-value>
    <div class="field icon-field">
      <i (click)="removeValue(i)" class="icon big red remove circle"></i>
    </div>
  </div>
</div>
<button type="button" (click)="addValue()" class="ui button">
  {{'HttpReadComponent.button.addValue' | translate}}</button>
