<div class="sae-block" [formGroup]="form">
  <app-http-configuration
    [httpConfiguration]="httpSwitch.httpConfiguration"
  ></app-http-configuration>
  <app-http-write *ngFor="let httpWrite of httpSwitch.httpWrites; index as i; last as l"
                  [httpWrite]="httpWrite"
                  [maxValues]="maxValues"
                  [formControlNamePrefix]="getWriteFormControlPrefix(i)"
                  [valueNames]="valueNames"
                  [translationPrefix]="'ControlHttpComponent.'"
                  [translationKeys]="valueNameTextKeys"
                  (remove)="onHttpWriteRemove(i)"
                  #httpWriteComponents
  ></app-http-write>
  <app-http-read [httpRead]="httpSwitch.httpRead"
                 [disableRemove]="true"
                 [disableFactorToValue]="true"
                 [minValues]="1"
                 [maxValues]="1"
                 [formControlNamePrefix]="'read'"
                 [valueNames]="readValueNames"
                 [translationPrefix]="'ControlHttpComponent.read.'"
                 [translationKeys]="readValueNameTextKeys"
  ></app-http-read>

  <button type="button" (click)="addHttpWrite()" class="ui button" *ngIf="isAddHttpWritePossible"
  >{{'ControlEvchargerHttpComponent.button.addHttpWrite' | translate}}</button>
</div>
