<div class="fields">
  <mat-form-field class="minRuntime">
    <mat-label>{{'ScheduleRequestRuntimeComponent.minRuntime' | translate}}</mat-label>
    <input matInput type="text" formControlName="minRuntime" class="clockpicker"
           required="{{formHandler.isRequired('minRuntime')}}">
    <mat-error *ngIf="errors.minRuntime">{{errors.minRuntime}}</mat-error>
  </mat-form-field>
  <mat-form-field class="maxRuntime">
    <mat-label>{{'ScheduleRequestRuntimeComponent.maxRuntime' | translate}}</mat-label>
    <input matInput type="text" formControlName="maxRuntime" class="clockpicker"
           required="{{formHandler.isRequired('maxRuntime')}}">
    <mat-error *ngIf="errors.maxRuntime">{{errors.maxRuntime}}</mat-error>
  </mat-form-field>
</div>
