<div class="ui fields">
  <div class="ui two wide field">
    <label>{{'ScheduleRequestRuntimeComponent.minRuntime' | translate}}</label>
    <input class="clockpicker" type="text" formControlName="minRuntime">
    <div *ngIf="errors.minRuntime" class="ui negative message">
      {{errors.minRuntime}}</div>
  </div>
  <div class="ui two wide field">
    <label>{{'ScheduleRequestRuntimeComponent.maxRuntime' | translate}}</label>
    <input class="clockpicker" type="text" formControlName="maxRuntime">
    <div *ngIf="errors.maxRuntime" class="ui negative message">
      {{errors.maxRuntime}}</div>
  </div>
</div>
