<div class="ui hidden divider"></div>
<div [formGroup]="form">
  <div class="ui fields">
    <div class="field">
      <label>{{'ModbusWriteComponent.address' | translate}}</label>
      <input type="text" formControlName="address">
      <div *ngIf="errors.address"
           class="ui negative message">{{errors.address}}</div>
    </div>
    <div class="field">
      <label>{{'ModbusWriteComponent.type' | translate}}</label>
      <select class="ui fluid dropdown" formControlName="type">
        <option *ngFor="let readRegisterType of writeRegisterTypes"
                [ngValue]="readRegisterType"
                [selected]="readRegisterType==type"
        >{{readRegisterType}}</option>
      </select>
    </div>
    <div class="field">
      <label>{{'ModbusWriteComponent.factorToValue' | translate}}</label>
      <input type="text" formControlName="factorToValue">
      <div *ngIf="errors.factorToValue"
           class="ui negative message">{{errors.factorToValue}}</div>
    </div>
    <div class="field icon-field">
      <i (click)="removeModbusWrite()" class="icon big red remove circle"></i>
    </div>
  </div>
  <div formArrayName="modbusWriteValues">
    <div class="ui fields" *ngFor="let writeValue of modbusWrite.writeValues; index as i">
      <div class="field">
        <app-modbus-write-value
          [modbusWriteValue]="writeValue"
          [formGroupName]="i"
          [form]="getModbusWriteValueFormGroup(i)"
          [valueNames]="valueNames"
          [translationPrefix]="translationPrefix"
          [translationKeys]="translationKeys"
          #modbusWriteValues
        ></app-modbus-write-value>
      </div>
      <div class="field icon-field">
        <i (click)="removeValue(i)" class="icon big red remove circle"></i>
      </div>
    </div>
  </div>
</div>
<button type="button" (click)="addValue()" class="ui button" *ngIf="isAddValuePossible">
  {{'HttpWriteComponent.button.addValue' | translate}}</button>
