<div class="sae__fields">
  <mat-form-field>
    <mat-label>{{'ScheduleRequestSocComponent.evId' | translate}}</mat-label>
    <mat-select formControlName="evId" required="{{formHandler.isRequired('evId')}}">
      <mat-option *ngFor="let electricVehicle of electricVehicles" [value]="electricVehicle.id">
        {{electricVehicle.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="soc">
    <mat-label>{{'ScheduleRequestEnergyComponent.soc' | translate}}</mat-label>
    <input matInput type="text" formControlName="soc"
           required="{{formHandler.isRequired('soc')}}">
    <mat-error *ngIf="errors.soc">{{errors.soc}}</mat-error>
  </mat-form-field>
</div>
