<div class="ModbusWriteValueComponent sae__fields" [formGroup]="form">
  <mat-form-field>
    <mat-label>{{'ModbusWriteValueComponent.name' | translate}}</mat-label>
    <mat-select formControlName="name" required="{{formHandler.isRequired('name')}}">
      <mat-option *ngFor="let valueName of valueNames" [value]="valueName">
        {{getTranslatedValueName(valueName)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="value">
    <mat-label>{{'ModbusReadValueComponent.value' | translate}}</mat-label>
    <input matInput type="text" formControlName="value"
           required="{{formHandler.isRequired('value')}}">
  </mat-form-field>
</div>
