.classpath
.project
.settings
target
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/dictionaries
/.idea/uiDesigner.xml
/.idea/markdown-navigator.xml
/.idea/markdown-navigator/
.DS_Store
/build
/captures
/src/main/angular/node_modules
/src/main/resources/static
/docker/sae-arm32/image.release
/docker/sae-arm32/releases
