.ControlStartingcurrentComponent {
  &__powerThreshold {
    width: 12rem;
  }

  &__startingCurrentDetectionDuration {
    width: 18rem;
  }

  &__finishedCurrentDetectionDuration {
    width: 18rem;
  }

  &__minRunningTime {
    width: 9rem;
  }
}
