<h4 class="ui dividing header">{{'ControlStartingcurrentComponent.startingCurrent' | translate}}</h4>
<div class="ui fields">
  <div class="field">
    <label>{{'ControlStartingcurrentComponent.powerThreshold' | translate}}</label>
    <input type="text" formControlName="powerThreshold"
           placeholder="{{controlDefaults.startingCurrentSwitchDefaults_powerThreshold}}">
  </div>
  <div class="field">
    <label>
      {{'ControlStartingcurrentComponent.startingCurrentDetectionDuration' | translate}}</label>
    <input type="text" formControlName="startingCurrentDetectionDuration"
           placeholder="{{controlDefaults.startingCurrentSwitchDefaults_startingCurrentDetectionDuration}}">
  </div>
  <div class="field">
    <label>
      {{'ControlStartingcurrentComponent.finishedCurrentDetectionDuration' | translate}}</label>
    <input type="text" formControlName="finishedCurrentDetectionDuration"
           placeholder="{{controlDefaults.startingCurrentSwitchDefaults_finishedCurrentDetectionDuration}}">
  </div>
  <div class="field">
    <label>{{'ControlStartingcurrentComponent.minRunningTime' | translate}}</label>
    <input type="text" formControlName="minRunningTime"
           placeholder="{{controlDefaults.startingCurrentSwitchDefaults_minRunningTime}}">
  </div>
</div>
