<div [formGroup]="form">
  <h4 class="ui dividing header">{{'ControlStartingcurrentComponent.startingCurrentDetection' | translate}}</h4>
  <div class="ui fields">
    <div class="field">
      <label>{{'ControlStartingcurrentComponent.powerThreshold' | translate}}</label>
      <input type="text" formControlName="powerThreshold"
             placeholder="{{controlDefaults.startingCurrentSwitchDefaults_powerThreshold}}">
      <div *ngIf="errors['powerThreshold']"
           class="ui negative message">{{errors['powerThreshold']}}</div>
    </div>
    <div class="field">
      <label>
        {{'ControlStartingcurrentComponent.startingCurrentDetectionDuration' | translate}}</label>
      <input type="text" formControlName="startingCurrentDetectionDuration"
             placeholder="{{controlDefaults.startingCurrentSwitchDefaults_startingCurrentDetectionDuration}}">
      <div *ngIf="errors['startingCurrentDetectionDuration']"
           class="ui negative message">{{errors['startingCurrentDetectionDuration']}}</div>
    </div>
    <div class="field">
      <label>
        {{'ControlStartingcurrentComponent.finishedCurrentDetectionDuration' | translate}}</label>
      <input type="text" formControlName="finishedCurrentDetectionDuration"
             placeholder="{{controlDefaults.startingCurrentSwitchDefaults_finishedCurrentDetectionDuration}}">
      <div *ngIf="errors['finishedCurrentDetectionDuration']"
           class="ui negative message">{{errors['finishedCurrentDetectionDuration']}}</div>
    </div>
    <div class="field">
      <label>{{'ControlStartingcurrentComponent.minRunningTime' | translate}}</label>
      <input type="text" formControlName="minRunningTime"
             placeholder="{{controlDefaults.startingCurrentSwitchDefaults_minRunningTime}}">
      <div *ngIf="errors['minRunningTime']"
           class="ui negative message">{{errors['minRunningTime']}}</div>
    </div>
  </div>
</div>
