<div class="ui fields">
  <div class="ui two wide field">
    <label>{{'ScheduleRequestEnergyComponent.minEnergy' | translate}}</label>
    <input type="text" formControlName="{{getFormControlName('minEnergy')}}">
    <div *ngIf="errors[this.getFormControlName('minEnergy')]" class="ui negative message">
      {{errors[this.getFormControlName('minEnergy')]}}</div>
  </div>
  <div class="ui two wide field">
    <label>{{'ScheduleRequestEnergyComponent.maxEnergy' | translate}}</label>
    <input type="text" formControlName="{{getFormControlName('maxEnergy')}}">
    <div *ngIf="errors[this.getFormControlName('maxEnergy')]" class="ui negative message">
      {{errors[this.getFormControlName('maxEnergy')]}}</div>
  </div>
</div>
