<div class="ui fields">
  <div class="ui two wide field">
    <label>{{'ScheduleRequestEnergyComponent.minEnergy' | translate}}</label>
    <input type="text" formControlName="minEnergy">
    <div *ngIf="errors.minEnergy" class="ui negative message">
      {{errors.minEnergy}}</div>
  </div>
  <div class="ui two wide field">
    <label>{{'ScheduleRequestEnergyComponent.maxEnergy' | translate}}</label>
    <input type="text" formControlName="maxEnergy">
    <div *ngIf="errors.maxEnergy" class="ui negative message">
      {{errors.maxEnergy}}</div>
  </div>
</div>
