.SidenavComponent {

  &__nav-caption {
    display: inline-block;
    padding-left: 6px;
  }

  &__submenu-item {
    height: 32px !important;
    font-size: 14px;
    line-height: 14px;
  }

  &__submenu-icon {
    height: 14px !important;
  }

  &__appliance-name {
    font-size: 14px;
    padding-left: 6px;
  }
}

a {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  color: lightgray;
}
