.SidenavComponent {
  &__appliance-text {
    display: flex;
    flex-direction: column;
  }

  &__appliance-name {
    font-size: 0.875rem;
    padding-left: 0.3rem;
    width: 0px; // make sure icon is shown also for long names
  }

  &__nav-caption {
    padding-left: 0.3rem;
  }

  &__router-link-active {
    background: rgba(0, 0, 0, 0.08);
  }

  &__external_link {
    font-size: smaller;
    padding-left: 0.1rem;
  }

  &__menu-item {
    display: flex;
    align-items: center;
  }

  &__submenu-item {
    display: flex;
    align-items: center;
    height: auto;
  }

  &__submenu-anchor {
    height: auto !important;
  }

  &__submenu-icon {
    padding: 0.3rem 0;
  }

  &__divider {
    margin-bottom: 0.5rem;
  }
}
