<div class="ControlHttpComponent">
  <app-http-configuration
    [form]="form"
    [httpConfiguration]="httpSwitch.httpConfiguration"
    #httpConfigurationComponent
  ></app-http-configuration>
  <div formArrayName="httpWrites">
    <app-http-write *ngFor="let httpWriteFormGroup of httpSwitch.httpWrites; index as i; last as l"
                    [formGroupName]="i"
                    [form]="getHttpWriteFormGroup(i)"
                    [httpWrite]="httpSwitch.httpWrites[i]"
                    [maxValues]="maxValues"
                    [valueNames]="valueNames"
                    [translationPrefix]="'ControlHttpComponent.'"
                    [translationKeys]="valueNameTextKeys"
                    (remove)="onHttpWriteRemove(i)"
                    #httpWriteComponents
    ></app-http-write>
  </div>
  <button mat-raised-button type="button" (click)="addHttpWrite()" *ngIf="isAddHttpWritePossible"
  >{{'ControlHttpComponent.button.addHttpWrite' | translate}}</button>
</div>
<div class="sae__fields">
  <mat-checkbox formControlName="readControlState" (click)="toggleReadControlState()"
  >{{'ControlHttpComponent.readControlState' | translate}}</mat-checkbox>
</div>
<app-http-read *ngIf="readControlState"
               [form]="getHttpReadFormGroup()"
               [httpRead]="httpSwitch.httpRead"
               [disableRemove]="true"
               [disableFactorToValue]="true"
               [minValues]="1"
               [maxValues]="1"
               [valueNames]="readValueNames"
               [translationPrefix]="'ControlHttpComponent.read.'"
               [translationKeys]="readValueNameTextKeys"
               #httpReadComponent
></app-http-read>
