<div class="ControlHttpComponent">
  <ng-content></ng-content>
  <app-http-configuration
    [form]="form"
    [httpConfiguration]="httpSwitch.httpConfiguration"
    #httpConfigurationComponent
  ></app-http-configuration>
  <div formArrayName="httpWrites">
    @for (httpWriteFormGroup of httpSwitch.httpWrites; track httpWriteFormGroup; let i = $index; let l = $last) {
      <app-http-write
        [formGroupName]="i"
        [form]="getHttpWriteFormGroup(i)"
        [httpWrite]="httpSwitch.httpWrites[i]"
        [maxValues]="maxValues"
        [valueNames]="valueNames"
        [translationPrefix]="'ControlHttpComponent.'"
        [translationKeys]="valueNameTextKeys"
        (remove)="onHttpWriteRemove(i)"
        #httpWriteComponents
      ></app-http-write>
    }
    @if (isAddHttpWritePossible) {
      <button mat-raised-button type="button" class="ControlHttpComponent__addHttpWrite"
        (click)="addHttpWrite()"
      >{{'ControlHttpComponent.button.addHttpWrite' | translate}}</button>
    }
  </div>
</div>
<div class="sae__fields">
  <mat-checkbox class="ControlHttpComponent__readControlState" formControlName="readControlState"
  >{{'ControlHttpComponent.readControlState' | translate}}</mat-checkbox>
</div>
@if (readControlState) {
  <app-http-read
    [form]="getHttpReadFormGroup()"
    [httpRead]="httpSwitch.httpRead"
    [disableRemove]="true"
    [disableFactorToValue]="true"
    [maxValues]="1"
    [valueNames]="readValueNames"
    [translationPrefix]="'ControlHttpComponent.read.'"
    [translationKeys]="readValueNameTextKeys"
    #httpReadComponent
  ></app-http-read>
}
