<div class="ControlEvchargerModbusComponent">
  <messagebox [level]="MessageBoxLevel.INFO" *ngIf="settings.modbusSettings?.length === 0"
  >{{'error.modbus_not_configured' | translate}}</messagebox>
  <div [style]="displayNoneStyle">
    <div class="sae__fields">
      <mat-form-field class="sae__modbus-name">
        <mat-label>{{'ControlEvchargerModbusComponent.idref' | translate}}</mat-label>
        <mat-select formControlName="idref"
                    matTooltip="{{'ControlEvchargerModbusComponent.idref.tooltip' | translate}}"
                    [matTooltipDisabled]="'matTooltipDisabled' | env"
                    required="{{formHandler.isRequired('idref')}}">
          <mat-option *ngFor="let modbusSetting of settings.modbusSettings" [value]="modbusSetting.modbusTcpId">
            {{modbusSetting.modbusTcpId}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="sae__modbus-address">
        <mat-label>{{'ControlEvchargerModbusComponent.slaveAddress' | translate}}</mat-label>
        <input matInput type="text" formControlName="slaveAddress"
               required="{{formHandler.isRequired('slaveAddress')}}">
        <mat-error *ngIf="errors.slaveAddress">{{errors.slaveAddress}}</mat-error>
      </mat-form-field>
    </div>
    <h2 class="sae__heading-extra-top-margin">{{'ControlEvchargerModbusComponent.heading.modbusRead' | translate}}</h2>
    <div class="ControlEvchargerModbusComponent__missingNames" *ngIf="readValueNamesNotConfigured?.length > 0">
      <messagebox [level]="MessageBoxLevel.ERROR"
      >{{'ControlEvchargerComponent.message.missingRead' | translate}}: {{readValueNamesNotConfigured}}</messagebox>
    </div>
    <span formArrayName="modbusReads">
      <app-modbus-read *ngFor="let modbusRead of evModbusControl.modbusReads; index as i; last as l"
                       [formGroupName]="i"
                       [form]="getModbusReadFormGroup(i)"
                       [modbusRead]="modbusRead"
                       [valueNames]="readValueNames"
                       [meterDefaults]="meterDefaults"
                       [translationPrefix]="'ControlEvchargerComponent.'"
                       [translationKeys]="readValueNameTextKeys"
                       (remove)="onModbusReadRemove(i)"
                       (nameChanged)="onValueNameChanged(i, $event)"
                       #modbusReadComponents
      ></app-modbus-read>
    </span>
    <button mat-raised-button type="button" (click)="addModbusRead()">
      {{'ControlEvchargerModbusComponent.button.addModbusRead' | translate}}</button>


    <h2 class="sae__heading-extra-top-margin">{{'ControlEvchargerModbusComponent.heading.modbusWrite' | translate}}</h2>
    <div class="ControlEvchargerModbusComponent__missingNames" *ngIf="writeValueNamesNotConfigured?.length > 0">
      <messagebox [level]="MessageBoxLevel.ERROR"
      >{{'ControlEvchargerComponent.message.missingWrite' | translate}}: {{writeValueNamesNotConfigured}}</messagebox>
    </div>
    <span formArrayName="modbusWrites">
      <app-modbus-write *ngFor="let modbusWrite of evModbusControl.modbusWrites; index as i; last as l"
                        [formGroupName]="i"
                        [form]="getModbusWriteFormGroup(i)"
                        [modbusWrite]="modbusWrite"
                        [valueNames]="writeValueNames"
                        [translationPrefix]="'ControlEvchargerComponent.'"
                        [translationKeys]="writeValueNameTextKeys"
                        (remove)="onModbusWriteRemove(i)"
                        (nameChanged)="onValueNameChanged(i, $event)"
                        #modbusWriteComponents
      ></app-modbus-write>
    </span>
    <button mat-raised-button type="button" (click)="addModbusWrite()">
      {{'ControlEvchargerModbusComponent.button.addModbusRead' | translate}}</button>
  </div>
</div>
