@import '../../../../_variables.scss';
@import '../../../../styles';

.ControlEvchargerModbusComponent {
  &__addModbusWrite, &__addModbusRead {
    vertical-align: top;
  }

  &__missingNames {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
