<div class="HttpConfigurationComponent sae__fields" [formGroup]="form">
  <mat-form-field class="contentType">
    <mat-label>{{'HttpReadComponent.contentType' | translate}}</mat-label>
    <input matInput type="text" formControlName="contentType"
           required="{{isRequired('contentType')}}">
  </mat-form-field>
  <mat-form-field class="username">
    <mat-label>{{'HttpReadComponent.username' | translate}}</mat-label>
    <input matInput type="text" formControlName="username"
           required="{{isRequired('username')}}">
  </mat-form-field>
  <mat-form-field class="password">
    <mat-label>{{'HttpReadComponent.password' | translate}}</mat-label>
    <input matInput type="text" formControlName="password"
           required="{{isRequired('password')}}">
  </mat-form-field>
</div>
