<div class="MeterModbusComponent">
  <messagebox [level]="MessageBoxLevel.INFO" *ngIf="modbusSettings.length === 0"
  >{{'error.modbus_not_configured' | translate}}</messagebox>
  <div [style]="displayNoneStyle">
    <div class="sae__fields">
      <mat-form-field>
        <mat-label>{{'MeterModbusComponent.idref' | translate}}</mat-label>
        <mat-select formControlName="idref" required="{{formHandler.isRequired('idref')}}">
          <mat-option *ngFor="let modbusSetting of modbusSettings" [value]="modbusSetting.modbusTcpId">
            {{modbusSetting.modbusTcpId}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="slaveAddress">
        <mat-label>{{'MeterModbusComponent.slaveAddress' | translate}}</mat-label>
        <input matInput type="text" formControlName="slaveAddress"
               required="{{formHandler.isRequired('slaveAddress')}}">
        <mat-error *ngIf="errors.slaveAddress">{{errors.slaveAddress}}</mat-error>
      </mat-form-field>
      <mat-form-field class="pollInterval">
        <mat-label>{{'MeterModbusComponent.pollInterval' | translate}}</mat-label>
        <input matInput type="text" formControlName="pollInterval"
               placeholder="{{meterDefaults.modbusElectricityMeter_pollInterval}}"
               required="{{formHandler.isRequired('pollInterval')}}">
        <mat-error *ngIf="errors.pollInterval">{{errors.pollInterval}}</mat-error>
      </mat-form-field>
      <mat-form-field class="measurementInterval">
        <mat-label>{{'MeterModbusComponent.measurementInterval' | translate}}</mat-label>
        <input matInput type="text" formControlName="measurementInterval"
               placeholder="{{meterDefaults.modbusElectricityMeter_measurementInterval}}"
               required="{{formHandler.isRequired('measurementInterval')}}">
        <mat-error *ngIf="errors.measurementInterval">{{errors.measurementInterval}}</mat-error>
      </mat-form-field>
    </div>
    <div formArrayName="modbusReads">
      <app-modbus-read *ngFor="let modbusRead of modbusElectricityMeter.modbusReads; index as i; last as l"
                       [formGroupName]="i"
                       [form]="getModbusReadFormGroup(i)"
                       [modbusRead]="modbusRead"
                       [meterDefaults]="meterDefaults"
                       [maxValues]="maxValues"
                       [valueNames]="valueNames"
                       [readRegisterTypes]="settingsDefaults.modbusReadRegisterTypes"
                       [translationPrefix]="'MeterModbusComponent.'"
                       [translationKeys]="valueNameTextKeys"
                       (remove)="onModbusReadRemove(i)"
                       #modbusReadComponents
      ></app-modbus-read>
      <button mat-raised-button type="button" (click)="addModbusRead()" class="MeterModbusComponent__addModbusRead" *ngIf="isAddModbusReadPossible">
        {{'MeterModbusComponent.button.addModbusRead' | translate}}</button>
    </div>
  </div>
</div>
