<div class="ModbusReadValueComponent sae__fields" [formGroup]="form">
  <mat-form-field class="sae__value-name">
    <mat-label>{{'ModbusReadValueComponent.name' | translate}}</mat-label>
    <mat-select formControlName="name" required="{{isRequired('name')}}" (ngModelChange)="onNameChanged($event)">
      @for (valueName of valueNames; track valueName) {
        <mat-option [value]="valueName">
          {{getTranslatedValueName(valueName)}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="sae__regex">
    <mat-label>{{'ModbusReadValueComponent.extractionRegex' | translate}}</mat-label>
    <input matInput type="text" formControlName="extractionRegex"
      matTooltip="{{'regex.tooltip' | translate}}"
      [matTooltipDisabled]="'matTooltipDisabled' | env"
      required="{{isRequired('extractionRegex')}}">
    @if (errors.extractionRegex) {
      <mat-error>{{errors.extractionRegex}}</mat-error>
    }
  </mat-form-field>
</div>
