<div class="ElectricVehicleComponent" [formGroup]="form">
  <div class="sae__fields">
    <mat-form-field class="ElectricVehicleComponent__name">
      <mat-label>{{'ElectricVehicleComponent.name' | translate}}</mat-label>
      <input matInput type="text" formControlName="name"
             required="{{isRequired('name')}}">
      <mat-error *ngIf="errors.name">{{errors.name}}</mat-error>
    </mat-form-field>
    <button mat-raised-button type="button" (click)="removeElectricVehicle()">
      {{'button.delete' | translate}}</button>
  </div>
  <h3>{{'ElectricVehicleComponent.general' | translate}}</h3>
  <div class="sae__fields">
    <mat-form-field class="ElectricVehicleComponent__batteryCapacity">
      <mat-label>{{'ElectricVehicleComponent.batteryCapacity' | translate}}</mat-label>
      <input matInput type="text" formControlName="batteryCapacity"
             required="{{isRequired('batteryCapacity')}}">
      <mat-error *ngIf="errors.batteryCapacity">{{errors.batteryCapacity}}</mat-error>
    </mat-form-field>
    <mat-form-field class="sae__phases">
      <mat-label>{{'ElectricVehicleComponent.phases' | translate}}</mat-label>
      <input matInput type="text" formControlName="phases"
             required="{{isRequired('phases')}}">
      <mat-error *ngIf="errors.phases">{{errors.phases}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__maxChargePower">
      <mat-label>{{'ElectricVehicleComponent.maxChargePower' | translate}}</mat-label>
      <input matInput type="text" formControlName="maxChargePower"
             required="{{isRequired('maxChargePower')}}">
      <mat-error *ngIf="errors.maxChargePower">{{errors.maxChargePower}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__chargeLoss">
      <mat-label>{{'ElectricVehicleComponent.chargeLoss' | translate}}</mat-label>
      <input matInput type="text" formControlName="chargeLoss"
             placeholder="{{controlDefaults.evChargerDefaults.chargeLoss}}"
             required="{{isRequired('chargeLoss')}}">
      <mat-error *ngIf="errors.chargeLoss">{{errors.chargeLoss}}</mat-error>
    </mat-form-field>
  </div>
  <h3>{{'ElectricVehicleComponent.soc' | translate}}</h3>
  <div class="sae__fields">
    <mat-form-field class="ElectricVehicleComponent__defaultSocManual">
      <mat-label>{{'ElectricVehicleComponent.defaultSocManual' | translate}}</mat-label>
      <input matInput type="text" formControlName="defaultSocManual"
             required="{{isRequired('defaultSocManual')}}">
      <mat-error *ngIf="errors.defaultSocManual">{{errors.defaultSocManual}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__defaultSocOptionalEnergy">
      <mat-label>{{'ElectricVehicleComponent.defaultSocOptionalEnergy' | translate}}</mat-label>
      <input matInput type="text" formControlName="defaultSocOptionalEnergy"
             required="{{isRequired('defaultSocOptionalEnergy')}}">
      <mat-error *ngIf="errors.defaultSocOptionalEnergy">{{errors.defaultSocOptionalEnergy}}</mat-error>
    </mat-form-field>
  </div>
  <h3>{{'ElectricVehicleComponent.script.heading' | translate}}</h3>
  <div class="sae__fields">
    <app-filenameinput
      formControlNameInput="scriptFilename"
      label="{{'ElectricVehicleComponent.script.filename' | translate}}"
      value="{{socScriptFilename}}"
      [requiredFileModes]="socScriptFileModes"
    ></app-filenameinput>
    <mat-form-field class="ElectricVehicleComponent__scriptTimeoutSeconds">
      <mat-label>{{'ElectricVehicleComponent.script.timeoutSeconds' | translate}}</mat-label>
      <input matInput type="text" formControlName="scriptTimeoutSeconds"
             placeholder="{{controlDefaults.evChargerDefaults.socScriptTimeoutSeconds}}"
             required="{{isRequired('scriptTimeoutSeconds')}}">
      <mat-error *ngIf="errors.scriptTimeoutSeconds">{{errors.scriptTimeoutSeconds}}</mat-error>
    </mat-form-field>
  </div>
  <div class="sae__fields">
    <mat-form-field class="ElectricVehicleComponent__scriptRegex">
      <mat-label>{{'ElectricVehicleComponent.script.extractionRegex' | translate}}</mat-label>
      <input matInput type="text" formControlName="scriptExtractionRegex"
             matTooltip="{{'ElectricVehicleComponent.script.extractionRegex.tooltip' | translate}}"
             [matTooltipDisabled]="'matTooltipDisabled' | env"
             required="{{isRequired('scriptExtractionRegex')}}">
      <mat-error *ngIf="errors.scriptExtractionRegex">{{errors.scriptExtractionRegex}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__scriptRegex">
      <mat-label>{{'ElectricVehicleComponent.script.pluginStatusExtractionRegex' | translate}}</mat-label>
      <input matInput type="text" formControlName="pluginStatusExtractionRegex"
             matTooltip="{{'ElectricVehicleComponent.script.pluginStatusExtractionRegex.tooltip' | translate}}"
             [matTooltipDisabled]="'matTooltipDisabled' | env"
             required="{{isRequired('pluginStatusExtractionRegex')}}">
      <mat-error *ngIf="errors.pluginStatusExtractionRegex">{{errors.pluginStatusExtractionRegex}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__scriptRegex">
      <mat-label>{{'ElectricVehicleComponent.script.pluginTimeExtractionRegex' | translate}}</mat-label>
      <input matInput type="text" formControlName="pluginTimeExtractionRegex"
             matTooltip="{{'ElectricVehicleComponent.script.pluginTimeExtractionRegex.tooltip' | translate}}"
             [matTooltipDisabled]="'matTooltipDisabled' | env"
             required="{{isRequired('pluginTimeExtractionRegex')}}">
      <mat-error *ngIf="errors.pluginTimeExtractionRegex">{{errors.pluginTimeExtractionRegex}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__scriptRegex">
      <mat-label>{{'ElectricVehicleComponent.script.latitudeExtractionRegex' | translate}}</mat-label>
      <input matInput type="text" formControlName="latitudeExtractionRegex"
             matTooltip="{{'ElectricVehicleComponent.script.latitudeExtractionRegex.tooltip' | translate}}"
             [matTooltipDisabled]="'matTooltipDisabled' | env"
             required="{{isRequired('latitudeExtractionRegex')}}">
      <mat-error *ngIf="errors.latitudeExtractionRegex">{{errors.latitudeExtractionRegex}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__scriptRegex">
      <mat-label>{{'ElectricVehicleComponent.script.longitudeExtractionRegex' | translate}}</mat-label>
      <input matInput type="text" formControlName="longitudeExtractionRegex"
             matTooltip="{{'ElectricVehicleComponent.script.longitudeExtractionRegex.tooltip' | translate}}"
             [matTooltipDisabled]="'matTooltipDisabled' | env"
             required="{{isRequired('longitudeExtractionRegex')}}">
      <mat-error *ngIf="errors.longitudeExtractionRegex">{{errors.longitudeExtractionRegex}}</mat-error>
    </mat-form-field>
  </div>
  <div class="ElectricVehicleComponent__scriptUpdateSocHeading">{{'ElectricVehicleComponent.script.update.heading' | translate}}</div>
  <div class="sae__fields">
    <mat-form-field class="ElectricVehicleComponent__scriptUpdateSocAfterIncrease">
      <mat-label>{{'ElectricVehicleComponent.script.update.afterIncrease' | translate}}</mat-label>
      <input matInput type="text" formControlName="scriptUpdateSocAfterIncrease"
             placeholder="{{controlDefaults.evChargerDefaults.updateSocAfterIncrease}}"
             matTooltip="{{'ElectricVehicleComponent.script.update.afterIncrease.tooltip' | translate}}"
             [matTooltipDisabled]="'matTooltipDisabled' | env"
             required="{{isRequired('scriptUpdateSocAfterIncrease')}}">
      <mat-error *ngIf="errors.scriptUpdateSocAfterIncrease">{{errors.scriptUpdateSocAfterIncrease}}</mat-error>
    </mat-form-field>
    <app-timepicker label="{{'ElectricVehicleComponent.script.update.afterSeconds' | translate}}"
                    tooltip="{{'ElectricVehicleComponent.script.update.afterSeconds.tooltip' | translate}}"
                    formControlNameTP="scriptUpdateSocAfterTime"
                    [value]="updateAfterTime"
                    [required]="false"
                    [enabled]="true"
                    [width]="'9rem'"
                    [errorMessages]="errorMessages"
                    #updateAfterSecondsComponent
    ></app-timepicker>
  </div>
</div>
