.ElectricVehicleComponent {
  &__batteryCapacity {
    width: 8rem;
  }

  &__maxChargePower {
    width: 8rem;
  }

  &__chargeLoss {
    width: 6rem;
  }

  &__defaultSocManual {
    width: 5rem;
  }

  &__defaultSocOptionalEnergy {
    width: 8rem;
  }

  &__scriptFilename {
    width: 18rem;
  }

  &__scriptUpdateSocHeading {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, 0.54);
  }

  &__scriptUpdateSocAfterIncrease {
    width: 9rem;
  }
}
