<div class="ElectricVehicleComponent" [formGroup]="form">
  <div class="sae__fields">
    <mat-form-field class="ElectricVehicleComponent__name">
      <mat-label>{{'ElectricVehicleComponent.name' | translate}}</mat-label>
      <input matInput type="text" formControlName="name"
             required="{{formHandler.isRequired('name')}}">
      <mat-error *ngIf="errors.name">{{errors.name}}</mat-error>
    </mat-form-field>
    <button mat-raised-button type="button" (click)="removeElectricVehicle()">
      {{'button.delete' | translate}}</button>
  </div>
  <h3>{{'ElectricVehicleComponent.general' | translate}}</h3>
  <div class="sae__fields">
    <mat-form-field class="ElectricVehicleComponent__batteryCapacity">
      <mat-label>{{'ElectricVehicleComponent.batteryCapacity' | translate}}</mat-label>
      <input matInput type="text" formControlName="batteryCapacity"
             required="{{formHandler.isRequired('batteryCapacity')}}">
      <mat-error *ngIf="errors.batteryCapacity">{{errors.batteryCapacity}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__phases">
      <mat-label>{{'ElectricVehicleComponent.phases' | translate}}</mat-label>
      <input matInput type="text" formControlName="phases"
             required="{{formHandler.isRequired('phases')}}">
      <mat-error *ngIf="errors.phases">{{errors.phases}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__maxChargePower">
      <mat-label>{{'ElectricVehicleComponent.maxChargePower' | translate}}</mat-label>
      <input matInput type="text" formControlName="maxChargePower"
             required="{{formHandler.isRequired('maxChargePower')}}">
      <mat-error *ngIf="errors.maxChargePower">{{errors.maxChargePower}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__chargeLoss">
      <mat-label>{{'ElectricVehicleComponent.chargeLoss' | translate}}</mat-label>
      <input matInput type="text" formControlName="chargeLoss"
             placeholder="{{controlDefaults.electricVehicleChargerDefaults_chargeLoss}}"
             required="{{formHandler.isRequired('chargeLoss')}}">
      <mat-error *ngIf="errors.chargeLoss">{{errors.chargeLoss}}</mat-error>
    </mat-form-field>
  </div>
  <h3>{{'ElectricVehicleComponent.soc' | translate}}</h3>
  <div class="sae__fields">
    <mat-form-field class="ElectricVehicleComponent__defaultSocManual">
      <mat-label>{{'ElectricVehicleComponent.defaultSocManual' | translate}}</mat-label>
      <input matInput type="text" formControlName="defaultSocManual"
             required="{{formHandler.isRequired('defaultSocManual')}}">
      <mat-error *ngIf="errors.defaultSocManual">{{errors.defaultSocManual}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__defaultSocOptionalEnergy">
      <mat-label>{{'ElectricVehicleComponent.defaultSocOptionalEnergy' | translate}}</mat-label>
      <input matInput type="text" formControlName="defaultSocOptionalEnergy"
             required="{{formHandler.isRequired('defaultSocOptionalEnergy')}}">
      <mat-error *ngIf="errors.defaultSocOptionalEnergy">{{errors.defaultSocOptionalEnergy}}</mat-error>
    </mat-form-field>
  </div>
  <h3>{{'ElectricVehicleComponent.script.heading' | translate}}</h3>
  <div class="sae__fields">
    <mat-checkbox formControlName="scriptEnabled"
                  (click)="onScriptEnabledToggle()"
    >{{'ElectricVehicleComponent.script.enabled' | translate}}</mat-checkbox>
    <mat-form-field class="ElectricVehicleComponent__scriptFilename">
      <mat-label>{{'ElectricVehicleComponent.script.filename' | translate}}</mat-label>
      <input matInput type="text" formControlName="scriptFilename"
             required="{{formHandler.isRequired('scriptFilename')}}">
      <mat-error *ngIf="errors.scriptFilename">{{errors.scriptFilename}}</mat-error>
    </mat-form-field>
    <mat-form-field class="ElectricVehicleComponent__scriptExtractionRegex">
      <mat-label>{{'ElectricVehicleComponent.script.extractionRegex' | translate}}</mat-label>
      <input matInput type="text" formControlName="scriptExtractionRegex"
             required="{{formHandler.isRequired('scriptExtractionRegex')}}">
      <mat-error *ngIf="errors.scriptExtractionRegex">{{errors.scriptExtractionRegex}}</mat-error>
    </mat-form-field>
  </div>
</div>
