<div class="ui hidden divider"></div>
<div>
  <div class="ui fields">
    <div class="six wide field">
      <label class="sae-label">{{'HttpWriteComponent.url' | translate}}</label>
      <input type="text" formControlName="{{getFormControlName('url')}}">
      <div *ngIf="errors[getFormControlName('url')]"
           class="ui negative message">{{errors[getFormControlName('url')]}}</div>
    </div>
    <div class="field icon-field">
      <i (click)="removeHttpWrite()" class="icon big red remove circle buttonRemoveHttpWrite"></i>
    </div>
  </div>
  <div *ngFor="let httpWriteValue of httpWrite.writeValues; index as i">
    <div class="ui fields">
      <div class="field">
        <app-http-write-value
          [httpWriteValue]="httpWriteValue"
          [disableFactorToValue]="disableFactorToValue"
          [formControlNamePrefix]="getWriteValueFormControlPrefix(i)"
          [valueNames]="valueNames"
          [translationPrefix]="translationPrefix"
          [translationKeys]="translationKeys"
          #httpWriteValues
        ></app-http-write-value>
      </div>
      <div class="field icon-field">
        <i (click)="removeValue(i)" [ngClass]="getRemoveValueCssClass(i)" class="icon big red remove circle"></i>
      </div>
    </div>
  </div>
</div>
<button type="button" (click)="addValue()" class="ui button addValue" *ngIf="isAddValuePossible"
>{{'HttpWriteComponent.button.addValue' | translate}}</button>
