<div class="ui hidden divider"></div>
<div [formGroup]="form">
  <div class="ui fields">
    <div class="six wide field">
      <label class="sae-label url">{{'HttpWriteComponent.url' | translate}}</label>
      <input type="text" formControlName="url">
      <div *ngIf="errors.url"
           class="ui negative message">{{errors.url}}</div>
    </div>
    <div class="field icon-field">
      <i (click)="removeHttpWrite()" class="icon big red remove circle buttonRemoveHttpWrite"></i>
    </div>
  </div>
  <div formArrayName="httpWriteValues">
    <div class="ui fields" *ngFor="let httpWriteValue of httpWrite.writeValues; index as i">
      <div class="field">
        <app-http-write-value
          [formGroupName]="i"
          [form]="getHttpWriteValueFormGroup(i)"
          [httpWriteValue]="httpWriteValue"
          [disableFactorToValue]="disableFactorToValue"
          [valueNames]="valueNames"
          [translationPrefix]="translationPrefix"
          [translationKeys]="translationKeys"
          #httpWriteValues
        ></app-http-write-value>
      </div>
      <div class="field icon-field">
        <i (click)="removeValue(i)" [ngClass]="getRemoveValueCssClass(i)" class="icon big red remove circle"></i>
      </div>
    </div>
  </div>
</div>
<button type="button" (click)="addValue()" class="ui button addValue" *ngIf="isAddValuePossible"
>{{'HttpWriteComponent.button.addValue' | translate}}</button>
