.ControlEvchargerComponent {
  &__template {
    width: 22rem;
  }

  &__protocol {
    width: 6rem;
  }

  &__voltage {
    width: 5rem;
  }

  &__phases {
    width: 5rem;
  }

  &__pollInterval {
    width: 7rem;
  }

  &__startChargingStateDetectionDelay {
    width: 14rem;
  }
}
