.ControlEvchargerComponent {
  &__template {
    width: 22rem;
  }

  &__protocol {
    width: 6rem;
  }

  &__startChargingStateDetectionDelay {
    width: 14rem;
  }

  &__electricVehicleDivider {
    margin: 1rem 0;
  }
}
