.ControlEvchargerComponent {
  &__template {
    width: 22rem;
  }

  &__protocol {
    width: 6rem;
  }

  &__startChargingStateDetectionDelay {
    width: 14rem;
  }

  &__chargePowerRepetition {
    width: 14rem;
  }

  &__electricVehicleDivider {
    margin: 1rem 0;
  }

  &__electricVehicles {
    padding-bottom: 1.25rem;
  }
}
