<div class="ScheduleRequestRuntimeComponent sae__fields">
  <app-timepicker label="{{'ScheduleRequestRuntimeComponent.minRuntime' | translate}}"
                  formControlNameTP="minRuntime"
                  [value]="minRuntime"
                  [required]="false"
                  [enabled]="enabled"
                  [width]="'10rem'"
                  [errorMessages]="errorMessages"
                  #minRuntimeComponent
  ></app-timepicker>
  <app-timepicker label="{{'ScheduleRequestRuntimeComponent.maxRuntime' | translate}}"
                  formControlNameTP="maxRuntime"
                  [value]="maxRuntime"
                  [required]="true"
                  [enabled]="enabled"
                  [width]="'10rem'"
                  [errorMessages]="errorMessages"
                  #maxRuntimeComponent
  ></app-timepicker>
</div>
