<div class="ScheduleRequestRuntimeComponent sae__fields">
  <app-timepicker label="{{'ScheduleRequestRuntimeComponent.minRuntime' | translate}}"
                  formControlNameTP="minRuntime"
                  [value]="minRuntime"
                  [required]="false"
                  [enabled]="enabled"
                  [width]="'10rem'"
                  tooltip="{{'ScheduleRequestRuntimeComponent.minRuntime.tooltip' | translate}}"
                  [errorMessages]="errorMessages"
                  #minRuntimeComponent
  ></app-timepicker>
  <app-timepicker label="{{'ScheduleRequestRuntimeComponent.maxRuntime' | translate}}"
                  formControlNameTP="maxRuntime"
                  [value]="maxRuntime"
                  [required]="true"
                  [enabled]="enabled"
                  [width]="'10rem'"
                  tooltip="{{'ScheduleRequestRuntimeComponent.maxRuntime.tooltip' | translate}}"
                  [errorMessages]="errorMessages"
                  #maxRuntimeComponent
  ></app-timepicker>
  <mat-checkbox formControlName="enabledExternally"
  >{{'ScheduleRequestRuntimeComponent.enabled' | translate}}</mat-checkbox>
</div>
