<div class="ControlEvchargerHttpComponent sae__fields">
  <mat-form-field class="sae__contentProtocol">
    <mat-label>{{'ControlEvchargerHttpComponent.contentProtocol' | translate}}</mat-label>
    <mat-select formControlName="contentProtocol" required="{{isRequired('contentProtocol')}}">
      @for (contentProtocol of contentProtocols; track contentProtocol) {
        <mat-option [value]="contentProtocol">
          {{contentProtocol}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <app-http-configuration
    [form]="form"
    [httpConfiguration]="evHttpControl.httpConfiguration"
  ></app-http-configuration>
</div>
<h2 class="sae__heading-extra-top-margin">{{'ControlEvchargerHttpComponent.heading.httpRead' | translate}}</h2>
@if (readValueNamesNotConfigured?.length > 0) {
  <div class="ControlEvchargerHttpComponent__missingNames">
    <messagebox [level]="MessageBoxLevel.ERROR"
    >{{'ControlEvchargerComponent.message.missingRead' | translate}}: {{readValueNamesNotConfigured}}</messagebox>
  </div>
}
<span formArrayName="httpReads">
  @for (httpRead of evHttpControl.httpReads; track httpRead; let i = $index; let l = $last) {
    <app-http-read
      [formGroupName]="i"
      [form]="getHttpReadFormGroup(i)"
      [httpRead]="httpRead"
      [contentProtocol]="contentProtocol"
      [disableFactorToValue]="true"
      [valueNames]="readValueNames"
      [translationPrefix]="'ControlEvchargerComponent.'"
      [translationKeys]="readValueNameTextKeys"
      (remove)="onHttpReadRemove(i)"
      (nameChanged)="onValueNameChanged(i, $event)"
      #httpReadComponents
    ></app-http-read>
  }
</span>
<button mat-raised-button type="button" class="ControlEvchargerHttpComponent__addHttpRead" (click)="addHttpRead()">
{{'ControlEvchargerHttpComponent.button.addHttpRead' | translate}}</button>
<h2 class="sae__heading-extra-top-margin">{{'ControlEvchargerHttpComponent.heading.httpWrite' | translate}}</h2>
@if (writeValueNamesNotConfigured?.length > 0) {
  <div class="ControlEvchargerModbusComponent__missingNames">
    <messagebox [level]="MessageBoxLevel.ERROR"
    >{{'ControlEvchargerComponent.message.missingWrite' | translate}}: {{writeValueNamesNotConfigured}}</messagebox>
  </div>
}
<span formArrayName="httpWrites">
  @for (httpWrite of evHttpControl.httpWrites; track httpWrite; let i = $index; let l = $last) {
    <app-http-write
      [formGroupName]="i"
      [form]="getHttpWriteFormGroup(i)"
      [httpWrite]="httpWrite"
      [valueNames]="writeValueNames"
      [translationPrefix]="'ControlEvchargerComponent.'"
      [translationKeys]="writeValueNameTextKeys"
      (remove)="onHttpWriteRemove(i)"
      (nameChanged)="onValueNameChanged(i, $event)"
      #httpWriteComponents
    ></app-http-write>
  }
</span>
<button mat-raised-button type="button" class="ControlEvchargerHttpComponent__addHttpWrite" (click)="addHttpWrite()">
{{'ControlEvchargerHttpComponent.button.addHttpWrite' | translate}}</button>
