<div class="ControlEvchargerHttpComponent sae__fields">
  <mat-form-field class="sae__contentProtocol">
    <mat-label>{{'ControlEvchargerHttpComponent.contentProtocol' | translate}}</mat-label>
    <mat-select formControlName="contentProtocol" required="{{formHandler.isRequired('contentProtocol')}}">
      <mat-option *ngFor="let contentProtocol of contentProtocols" [value]="contentProtocol">
        {{contentProtocol}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <app-http-configuration
    [form]="form"
    [httpConfiguration]="evHttpControl.httpConfiguration"
  ></app-http-configuration>
</div>
<h2 class="sae__heading-extra-top-margin">{{'ControlEvchargerHttpComponent.heading.httpRead' | translate}}</h2>
<span formArrayName="httpReads">
  <app-http-read *ngFor="let httpRead of evHttpControl.httpReads; index as i; last as l"
                 [formGroupName]="i"
                 [form]="getHttpReadFormGroup(i)"
                 [httpRead]="httpRead"
                 [disableFactorToValue]="true"
                 [valueNames]="readValueNames"
                 [translationPrefix]="'ControlEvchargerComponent.'"
                 [translationKeys]="readValueNameTextKeys"
                 (remove)="onHttpReadRemove(i)"
                 #httpReadComponents
  ></app-http-read>
</span>
<button mat-raised-button type="button" (click)="addHttpRead()">
  {{'ControlEvchargerHttpComponent.button.addHttpRead' | translate}}</button>
<h2 class="sae__heading-extra-top-margin">{{'ControlEvchargerHttpComponent.heading.httpWrite' | translate}}</h2>
<span formArrayName="httpWrites">
  <app-http-write *ngFor="let httpWrite of evHttpControl.httpWrites; index as i; last as l"
                  [formGroupName]="i"
                  [form]="getHttpWriteFormGroup(i)"
                  [httpWrite]="httpWrite"
                  [valueNames]="writeValueNames"
                  [translationPrefix]="'ControlEvchargerComponent.'"
                  [translationKeys]="writeValueNameTextKeys"
                  (remove)="onHttpWriteRemove(i)"
                  #httpWriteComponents
  ></app-http-write>
</span>
<button mat-raised-button type="button" (click)="addHttpWrite()">
  {{'ControlEvchargerHttpComponent.button.addHttpWrite' | translate}}</button>
