<div class="HttpWriteValueComponent sae__fields" [formGroup]="form">
  <mat-form-field class="sae__value-name">
    <mat-label>{{'HttpWriteValueComponent.name' | translate}}</mat-label>
    <mat-select formControlName="name" required="{{formHandler.isRequired('name')}}">
      <mat-option *ngFor="let valueName of valueNames" [value]="valueName">
        {{getTranslatedValueName(valueName)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="sae__http-method">
    <mat-label>{{'HttpWriteValueComponent.method' | translate}}</mat-label>
    <mat-select formControlName="method" required="{{formHandler.isRequired('method')}}">
      <mat-option *ngFor="let method of methods" [value]="method">
        {{getMethodTranslationKey(method)| translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="HttpWriteValueComponent__value">
    <mat-label>{{'HttpWriteValueComponent.value' | translate}}</mat-label>
    <input matInput type="text" formControlName="value"
           required="{{formHandler.isRequired('value')}}">
    <mat-error *ngIf="errors.value">{{errors.value}}</mat-error>
  </mat-form-field>
  <mat-form-field class="sae__factorToValue" *ngIf="! disableFactorToValue">
    <mat-label>{{'HttpWriteValueComponent.factorToValue' | translate}}</mat-label>
    <input matInput type="text" formControlName="factorToValue"
           placeholder="1"
           required="{{formHandler.isRequired('factorToValue')}}">
    <mat-error *ngIf="errors.factorToValue">{{errors.factorToValue}}</mat-error>
  </mat-form-field>
</div>
