<div class="HttpWriteValueComponent sae__fields" [formGroup]="form">
  <mat-form-field class="sae__value-name">
    <mat-label>{{'HttpWriteValueComponent.name' | translate}}</mat-label>
    <mat-select formControlName="name" required="{{isRequired('name')}}">
      @for (valueName of valueNames; track valueName) {
        <mat-option [value]="valueName">
          {{getTranslatedValueName(valueName)}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="sae__http-method">
    <mat-label>{{'HttpWriteValueComponent.method' | translate}}</mat-label>
    <mat-select formControlName="method" required="{{isRequired('method')}}">
      @for (method of methods; track method) {
        <mat-option [value]="method">
          {{getMethodTranslationKey(method)| translate}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="HttpWriteValueComponent__value">
    <mat-label>{{'HttpWriteValueComponent.value' | translate}}</mat-label>
    <input matInput type="text" formControlName="value"
      required="{{isRequired('value')}}">
    @if (errors.value) {
      <mat-error>{{errors.value}}</mat-error>
    }
  </mat-form-field>
  @if (! disableFactorToValue) {
    <mat-form-field class="sae__factorToValue">
      <mat-label>{{'HttpWriteValueComponent.factorToValue' | translate}}</mat-label>
      <input matInput type="text" formControlName="factorToValue"
        placeholder="1"
        required="{{isRequired('factorToValue')}}">
      @if (errors.factorToValue) {
        <mat-error>{{errors.factorToValue}}</mat-error>
      }
    </mat-form-field>
  }
</div>
