<!-- FIXME is the line below really used ??? -->
<h4 class="ui dividing header sae-header" *ngIf="valueName">{{valueName}}</h4>
<div class="ui hidden divider"></div>
<div [formGroup]="form">
  <div class="ui fields">
    <div class="field">
      <label>{{'ModbusReadComponent.address' | translate}}</label>
      <input type="text" formControlName="{{this.getFormControlName('address')}}">
      <div *ngIf="errors[this.getFormControlName('address')]"
           class="ui negative message">{{errors[this.getFormControlName('address')]}}</div>
    </div>
    <div class="field">
      <label>{{'ModbusReadComponent.type' | translate}}</label>
      <select class="ui fluid dropdown" formControlName="{{this.getFormControlName('type')}}">
        <option *ngFor="let readRegisterType of readRegisterTypes"
                [ngValue]="readRegisterType"
                [selected]="readRegisterType==type"
        >{{readRegisterType}}</option>
      </select>
    </div>
    <div class="field">
      <label>{{'ModbusReadComponent.bytes' | translate}}</label>
      <input type="text" formControlName="{{this.getFormControlName('bytes')}}">
      <div *ngIf="errors[this.getFormControlName('bytes')]"
           class="ui negative message">{{errors[this.getFormControlName('bytes')]}}</div>
    </div>
    <div class="field">
      <label>{{'ModbusReadComponent.byteOrder' | translate}}</label>
      <select class="ui fluid dropdown" formControlName="{{this.getFormControlName('byteOrder')}}">
        <option *ngFor="let aByteOrder of getByteOrders()"
                [ngValue]="aByteOrder"
                [selected]="aByteOrder==this.modbusRead.byteOrder"
        >{{aByteOrder}}</option>
      </select>
    </div>
    <div class="field">
      <label>{{'ModbusReadComponent.factorToValue' | translate}}</label>
      <input type="text" formControlName="{{this.getFormControlName('factorToValue')}}">
      <div *ngIf="errors[this.getFormControlName('factorToValue')]"
           class="ui negative message">{{errors[this.getFormControlName('factorToValue')]}}</div>
    </div>
  </div>
  <div *ngFor="let readValue of modbusRead.readValues; index as i">
    <div class="ui fields">
      <div class="field">
        <app-modbus-read-value
          [modbusReadValue]="readValue"
          [formControlNamePrefix]="getReadValueFormControlPrefix(i)"
          [valueNames]="valueNames"
          [translationPrefix]="translationPrefix"
          [translationKeys]="translationKeys"
          #modbusReadValues
        ></app-modbus-read-value>
      </div>
      <div class="field icon-field" *ngIf="! singleValue">
        <i (click)="removeValue(i)" class="icon big red remove circle"></i>
      </div>
    </div>
  </div>
</div>
<button type="button" (click)="addValue()" class="ui button" *ngIf="! singleValue">
  {{'HttpReadComponent.button.addValue' | translate}}</button>
