<form class="ui form" [formGroup]="form" (ngSubmit)="submitForm()">
  <h4 class="ui dividing header">{{'ControlEvchargerComponent.heading' | translate}}</h4>
  <div class="ui fields sae-fields">
    <div class="field">
      <label class="standalone-label">{{'ControlEvchargerComponent.template' | translate}}</label>
    </div>
    <div class="field">
      <select class="ui fluid dropdown" formControlName="template">
        <option *ngFor="let name of getTemplateNames()" [ngValue]="name">{{name}}</option>
      </select>
    </div>
    <div class="field">
      <button type="button" class="ui button" [disabled]="!!getTemplateNameSelected() === false"
              (click)="useTemplate()">{{'ControlEvchargerComponent.templateButton' | translate}}</button>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div *ngIf="isConfigured()">
    <div class="ui fields sae-fields">
      <div class="field">
        <label>{{'ControlEvchargerComponent.voltage' | translate}}</label>
        <input type="text" formControlName="voltage"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_voltage}}">
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.phases' | translate}}</label>
        <input type="text" formControlName="phases"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_phases}}">
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.pollInterval' | translate}}</label>
        <input type="text" formControlName="pollInterval"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_pollInterval}}">
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.startChargingStateDetectionDelay' | translate}}
          <i class="icon blue info circle tooltip">
          <span class="tooltiptext" style="margin-left: -180px;"
          >{{'ControlEvchargerComponent.startChargingStateDetectionDelay.tooltip' | translate}}</span>
          </i>
        </label>
        <input type="text" formControlName="startChargingStateDetectionDelay"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_startChargingStateDetectionDelay}}">
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.forceInitialCharging' | translate}}
          <i class="icon blue info circle tooltip">
          <span class="tooltiptext" style="margin-left: -180px;"
          >{{'ControlEvchargerComponent.forceInitialCharging.tooltip' | translate}}</span>
          </i>
        </label>
        <input class="ui checkbox" type="checkbox" formControlName="forceInitialCharging"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_forceInitialCharging}}">
      </div>
    </div>
    <div class="ui fields sae-fields">
      <div class="field">
        <label>{{'ControlEvchargerComponent.idref' | translate}}</label>
        <select class="ui fluid dropdown" formControlName="modbusIdref">
          <option *ngFor="let modbusSettings of settings.modbusSettings" [ngValue]="modbusSettings.modbusTcpId"
                  [selected]="modbusSettings.modbusTcpId==control.evCharger.control.idref">
            {{modbusSettings.modbusTcpId}}</option>
        </select>
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.slaveAddress' | translate}}</label>
        <input type="text" formControlName="modbusSlaveAddress">
        <div *ngIf="errors.slaveAddress" class="ui negative message">
          {{errors.slaveAddress}}</div>
      </div>
    </div>
    <div formArrayName="modbusConfigurations">
      <div *ngFor="let modbusConfiguration of modbusConfigurations.controls; index as i; last as l" [formGroupName]="i">
        <div class="ui hidden divider"></div>
        <div class="ui fields  sae-fields">
          <div class="field">
            <label>{{'ControlEvchargerComponent.name' | translate}}</label>
            <select class="ui fluid dropdown" formControlName="name">
              <option *ngFor="let modbusRegisterName of getModbusRegisterNames()"
                      [ngValue]="modbusRegisterName"
              >{{getTranslatedModbusRegisterName(modbusRegisterName)}}</option>
            </select>
          </div>
          <div class="field">
            <label>{{'ControlEvchargerComponent.registerAddress' | translate}}</label>
            <input type="text" formControlName="registerAddress">
            <div *ngIf="getIndexedErrorMessage('registerAddress', i)" class="ui negative message">
              {{getIndexedErrorMessage('registerAddress', i)}}</div>
          </div>
          <div class="field">
            <label>{{'ControlEvchargerComponent.write' | translate}}</label>
            <input class="ui checkbox" type="checkbox" formControlName="write">
          </div>
          <div class="field">
            <label>{{'ControlEvchargerComponent.registerType' | translate}}</label>
            <select class="ui fluid dropdown" formControlName="registerType">
              <option *ngFor="let modbusRegisterType of getModbusRegisterTypes(isModbusWriteRegister(modbusConfiguration))"
                      [ngValue]="modbusRegisterType"
                      [selected]="modbusRegisterType==getRegisterType(modbusConfiguration)"
              >{{modbusRegisterType}}</option>
            </select>
          </div>
          <div class="field" *ngIf="!isModbusWriteRegister(modbusConfiguration)">
            <label>{{'ControlEvchargerComponent.bytes' | translate}}</label>
            <input type="text" formControlName="bytes">
          </div>
          <div class="field" *ngIf="!isModbusWriteRegister(modbusConfiguration)">
            <label>{{'ControlEvchargerComponent.byteOrder' | translate}}</label>
            <select class="ui fluid dropdown" formControlName="byteOrder">
              <option *ngFor="let byteOrder of getByteOrders()"
                      [ngValue]="byteOrder"
                      [selected]="byteOrder==getRegisterType(modbusConfiguration)"
              >{{byteOrder}}</option>
            </select>
          </div>
          <div class="field" *ngIf="!isModbusWriteRegister(modbusConfiguration)">
            <label>{{'ControlEvchargerComponent.extractionRegex' | translate}}</label>
            <input type="text" formControlName="extractionRegex">
          </div>
          <div class="field" *ngIf="isModbusWriteRegister(modbusConfiguration)">
            <label>{{'ControlEvchargerComponent.value' | translate}}</label>
            <input type="text" formControlName="value">
          </div>
          <div class="field icon-field">
            <i (click)="removeModbusConfiguration(i)" class="icon big red remove circle"></i>
            <i *ngIf="l" (click)="addModbusConfiguration()" class="icon big green add circle"></i>
          </div>
        </div>
      </div>
    </div>
    <h4 class="ui dividing header">{{'ControlEvchargerComponent.ev.heading' | translate}}</h4>
    <div formArrayName="electricVehicles">
      <div *ngFor="let electricVehicle of electricVehicles.controls; index as i; last as l" [formGroupName]="i">
        <div class="ui hidden divider"></div>
        <div class="ui fields sae-fields">
          <div class="field">
            <label>{{'ControlEvchargerComponent.ev.name' | translate}}</label>
            <input type="text" formControlName="name">
          </div>
          <div class="field icon-field">
            <i (click)="removeElectricVehicle(i)" class="icon big red remove circle"></i>
          </div>
        </div>
        <h5 class="ui header">{{'ControlEvchargerComponent.ev.general' | translate}}</h5>
        <div class="ui fields sae-fields">
          <div class="field">
            <label>{{'ControlEvchargerComponent.ev.batteryCapacity' | translate}}</label>
            <input type="text" formControlName="batteryCapacity">
          </div>
          <div class="field">
            <label>{{'ControlEvchargerComponent.ev.phases' | translate}}</label>
            <input type="text" formControlName="phases">
          </div>
          <div class="field">
            <label>{{'ControlEvchargerComponent.ev.maxChargePower' | translate}}</label>
            <input type="text" formControlName="maxChargePower">
          </div>
        </div>
        <h5 class="ui header">{{'ControlEvchargerComponent.ev.soc' | translate}}</h5>
        <div class="ui fields sae-fields">
          <div class="field">
            <label>{{'ControlEvchargerComponent.ev.defaultSocManual' | translate}}</label>
            <input type="text" formControlName="defaultSocManual">
          </div>
          <div class="field">
            <label>{{'ControlEvchargerComponent.ev.defaultSocOptionalEnergy' | translate}}</label>
            <input type="text" formControlName="defaultSocOptionalEnergy">
          </div>
        </div>
        <h5 class="ui header">{{'ControlEvchargerComponent.ev.script.heading' | translate}}</h5>
        <div class="fields sae-fields">
          <div class="field">
            <label>{{'ControlEvchargerComponent.ev.script.enabled' | translate}}</label>
            <input class="ui checkbox" type="checkbox" formControlName="scriptEnabled"
                   (ngModelChange)="onScriptEnabledToggle(i, $event)">
          </div>
          <div class="six wide field" [class.disabled]="!isScriptEnabled(i)">
            <label>{{'ControlEvchargerComponent.ev.script.filename' | translate}}</label>
            <input type="text" formControlName="scriptFilename">
          </div>
          <div class="field" [class.disabled]="!isScriptEnabled(i)">
            <label>{{'ControlEvchargerComponent.ev.script.extractionRegex' | translate}}</label>
            <input type="text" formControlName="scriptExtractionRegex">
          </div>
        </div>
        <div *ngIf="!l" class="ui dividing header"></div>
      </div>
    </div>
    <div>{{'dialog.mandatoryfields'|translate}}</div>
    <div class="ui hidden divider"></div>
    <button type="submit" class="ui button" [disabled]="form.pristine||form.invalid">
      {{'button.save' | translate}}</button>
    <button type="button" (click)="addElectricVehicle()" class="ui button">
      {{'ControlEvchargerComponent.ev.button.new' | translate}}</button>
  </div>
</form>
