<div [formGroup]="form">
  <h3 class="ui dividing header">{{'ControlEvchargerComponent.heading' | translate}}</h3>
  <div class="ui fields sae-fields">
    <div class="field">
      <label class="standalone-label">{{'ControlEvchargerComponent.template' | translate}}</label>
    </div>
    <div class="field">
      <select class="ui fluid dropdown" formControlName="template">
        <option *ngFor="let name of getTemplateNames()" [ngValue]="name">{{name}}</option>
      </select>
    </div>
    <div class="field">
      <button type="button" class="ui button" [disabled]="!!getTemplateNameSelected() === false"
              (click)="useTemplate()">{{'ControlEvchargerComponent.templateButton' | translate}}</button>
    </div>
  </div>
  <div class="ui hidden divider"></div>
  <div *ngIf="isConfigured()">
    <div class="ui fields sae-fields">
      <div class="field">
        <label>{{'ControlEvchargerComponent.protocol' | translate}}</label>
        <select class="ui fluid dropdown" formControlName="protocol">
          <option *ngFor="let aProtocol of protocols" [ngValue]="aProtocol" [selected]="aProtocol === protocol"
          >{{getProtocolTranslationKey(aProtocol)| translate}}</option>
        </select>
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.voltage' | translate}}</label>
        <input type="text" formControlName="voltage"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_voltage}}">
        <div *ngIf="errors['voltage']" class="ui negative message">{{errors['voltage']}}</div>
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.phases' | translate}}</label>
        <input type="text" formControlName="phases"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_phases}}">
        <div *ngIf="errors['phases']" class="ui negative message">{{errors['phases']}}</div>
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.pollInterval' | translate}}</label>
        <input type="text" formControlName="pollInterval"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_pollInterval}}">
        <div *ngIf="errors['pollInterval']" class="ui negative message">{{errors['pollInterval']}}</div>
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.startChargingStateDetectionDelay' | translate}}
          <i class="icon blue info circle tooltip">
          <span class="tooltiptext" style="margin-left: -180px;"
          >{{'ControlEvchargerComponent.startChargingStateDetectionDelay.tooltip' | translate}}</span>
          </i>
        </label>
        <input type="text" formControlName="startChargingStateDetectionDelay"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_startChargingStateDetectionDelay}}">
        <div *ngIf="errors['startChargingStateDetectionDelay']"
             class="ui negative message">{{errors['startChargingStateDetectionDelay']}}</div>
      </div>
      <div class="field">
        <label>{{'ControlEvchargerComponent.forceInitialCharging' | translate}}
          <i class="icon blue info circle tooltip">
          <span class="tooltiptext" style="margin-left: -180px;"
          >{{'ControlEvchargerComponent.forceInitialCharging.tooltip' | translate}}</span>
          </i>
        </label>
        <input class="ui checkbox" type="checkbox" formControlName="forceInitialCharging"
               placeholder="{{controlDefaults.electricVehicleChargerDefaults_forceInitialCharging}}">
      </div>
    </div>
    <app-control-evcharger-modbus *ngIf="protocol === PROTOCOL_MODBUS"
                                  [evModbusControl]="evCharger.modbusControl"
                                  [settings]="settings"
                                  [settingsDefaults]="settingsDefaults"
                                  [translationKeys]="modbusTranslationKeys"
    ></app-control-evcharger-modbus>
    <app-control-evcharger-http
      [evHttpControl]="evCharger.httpControl"
    ></app-control-evcharger-http>
    <h3 class="ui dividing header">{{'ControlEvchargerComponent.headingEv' | translate}}</h3>
    <div *ngFor="let electricVehicle of evCharger.vehicles; index as i; last as l">
      <app-electric-vehicle
        [electricVehicle]="electricVehicle"
        [formControlNamePrefix]="getEvFormControlPrefix(i)"
        [controlDefaults]="controlDefaults"
        (remove)="onElectricVehicleRemove(i)"
        #electricVehicles
      ></app-electric-vehicle>
      <div *ngIf="!l" class="ui dividing header"></div>
    </div>
    <div>{{'dialog.mandatoryfields'|translate}}</div>
    <div class="ui hidden divider"></div>
  </div>
</div>
<button type="button" (click)="addElectricVehicle()" class="ui button">
  {{'ControlEvchargerComponent.button.newEv' | translate}}</button>

