<div class="ui hidden divider"></div>
<div [formGroup]="form">
  <div class="ui fields sae-fields">
    <div class="field">
      <label>{{'ElectricVehicleComponent.name' | translate}}</label>
      <input type="text" formControlName="name">
      <div *ngIf="errors.name"
           class="ui negative message">{{errors.name}}</div>
    </div>
    <div class="field icon-field">
      <i (click)="removeElectricVehicle()" class="icon big red remove circle"></i>
    </div>
  </div>
  <h5 class="ui header">{{'ElectricVehicleComponent.general' | translate}}</h5>
  <div class="ui fields sae-fields">
    <div class="field">
      <label>{{'ElectricVehicleComponent.batteryCapacity' | translate}}</label>
      <input type="text" formControlName="batteryCapacity">
      <div *ngIf="errors.batteryCapacity"
           class="ui negative message">{{errors.batteryCapacity}}</div>
    </div>
    <div class="field">
      <label>{{'ElectricVehicleComponent.phases' | translate}}</label>
      <input type="text" formControlName="phases">
      <div *ngIf="errors.phases"
           class="ui negative message">{{errors.phases}}</div>
    </div>
    <div class="field">
      <label>{{'ElectricVehicleComponent.maxChargePower' | translate}}</label>
      <input type="text" formControlName="maxChargePower">
      <div *ngIf="errors.maxChargePower"
           class="ui negative message">{{errors.maxChargePower}}</div>
    </div>
    <div class="field">
      <label>{{'ElectricVehicleComponent.chargeLoss' | translate}}</label>
      <input type="text" formControlName="chargeLoss"
             placeholder="{{controlDefaults.electricVehicleChargerDefaults_chargeLoss}}">
      <div *ngIf="errors.chargeLoss"
           class="ui negative message">{{errors.chargeLoss}}</div>
    </div>
  </div>
  <h5 class="ui header">{{'ElectricVehicleComponent.soc' | translate}}</h5>
  <div class="ui fields sae-fields">
    <div class="field">
      <label>{{'ElectricVehicleComponent.defaultSocManual' | translate}}</label>
      <input type="text" formControlName="defaultSocManual">
      <div *ngIf="errors.defaultSocManual"
           class="ui negative message">{{errors.defaultSocManual}}</div>
    </div>
    <div class="field">
      <label>{{'ElectricVehicleComponent.defaultSocOptionalEnergy' | translate}}</label>
      <input type="text" formControlName="defaultSocOptionalEnergy">
      <div *ngIf="errors.defaultSocOptionalEnergy"
           class="ui negative message">{{errors.defaultSocOptionalEnergy}}</div>
    </div>
  </div>
  <h5 class="ui header">{{'ElectricVehicleComponent.script.heading' | translate}}</h5>
  <div class="fields sae-fields">
    <div class="field">
      <label>{{'ElectricVehicleComponent.script.enabled' | translate}}</label>
      <input class="ui checkbox" type="checkbox" formControlName="scriptEnabled"
             (ngModelChange)="onScriptEnabledToggle($event)">
    </div>
    <div class="six wide field" [class.disabled]="!isScriptEnabled()">
      <label>{{'ElectricVehicleComponent.script.filename' | translate}}</label>
      <input type="text" formControlName="scriptFilename">
      <div *ngIf="errors.scriptFilename"
           class="ui negative message">{{errors.scriptFilename}}</div>
    </div>
    <div class="field" [class.disabled]="!isScriptEnabled()">
      <label>{{'ElectricVehicleComponent.script.extractionRegex' | translate}}</label>
      <input type="text" formControlName="scriptExtractionRegex">
    </div>
  </div>
</div>
