<h2 mat-dialog-title>{{'StatusComponent.exportDialog.title' | translate}}</h2>
<mat-dialog-content class="mat-typography">
  <pre id="exportJson">{{exportJson}}</pre>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button class="FlowExportComponent__close-button" [mat-dialog-close]="true">{{'StatusComponent.exportDialog.close' | translate}}</button>
  <button mat-button class="FlowExportComponent__copy-to-clipboard-button" [cdkCopyToClipboard]="exportJson" mat-dialog-close cdkFocusInitial>{{'StatusComponent.exportDialog.copyToClipboard' | translate}}</button>
</mat-dialog-actions>

