<div class="StatusViewComponent">
  <div class="StatusComponent__appliance-name">{{status.name}}</div>
  @if (status.planningRequested) {
    <div>
      <div class="StatusComponent__appliance-status">
        @if (isTrafficLightRed()) {
          <div>
            <span class="StatusComponent__appliance-status-label">{{'StatusComponent.earliestStart' | translate}}</span>
            <span class="StatusComponent__appliance-status-value">{{toHourMinuteWithUnits(status.earliestStart)}}</span>
          </div>
        }
        @if (isTrafficLightYellow()) {
          <div>
            @if (status.interruptedSince != null) {
              <div>
                <span class="StatusComponent__appliance-status-label">{{'StatusComponent.interruptedSince' | translate}}</span>
                <span class="StatusComponent__appliance-status-value">{{toHourMinuteWithUnits(status.interruptedSince)}}</span>
              </div>
            }
            @if (!!status?.latestStart && status.latestStart > 0) {
              <div>
                <span class="StatusComponent__appliance-status-label">{{'StatusComponent.latestStart' | translate}}</span>
                <span class="StatusComponent__appliance-status-value">{{toHourMinuteWithUnits(status.latestStart)}}</span>
              </div>
            }
          </div>
        }
        @if (isTrafficLightGreen()) {
          <div>
            <span class="StatusComponent__appliance-status-label">{{'StatusComponent.runningTimeCompleted' | translate}}</span>
            <span class="StatusComponent__appliance-status-value">{{toHourMinuteWithUnits(status.runningTime)}}</span>
          </div>
        }
      </div>
      @if (status.remainingMinRunningTime == null && status.remainingMaxEnergy == null) {
        <div>
          <div class="StatusComponent__appliance-status">
            <span class="StatusComponent__appliance-status-label">{{getRemainingRunningTimeLabel(status)}}</span>
            <span class="StatusComponent__appliance-status-value">{{toHourMinuteWithUnits(status.remainingMaxRunningTime)}}</span>
          </div>
        </div>
      }
      @if (status.remainingMinRunningTime != null) {
        <div>
          <div class="StatusComponent__appliance-status">
            <span class="StatusComponent__appliance-status-label">{{getRemainingMinRunningTimeLabel(status)}}</span>
            <span class="StatusComponent__appliance-status-value">{{toHourMinuteWithUnits(status.remainingMinRunningTime)}}</span>
          </div>
        </div>
      }
      @if (status.remainingMinRunningTime != null && status.remainingMaxRunningTime != null) {
        <div>
          <div class="StatusComponent__appliance-status">
            <span class="StatusComponent__appliance-status-label">{{getRemainingMaxRunningTimeLabel(status)}}</span>
            <span class="StatusComponent__appliance-status-value">{{toHourMinuteWithUnits(status.remainingMaxRunningTime)}}</span>
          </div>
        </div>
      }
      @if (status.variablePowerConsumer && !isTrafficLightRed() && !isTrafficLightRedBlink()) {
        <div class="StatusComponent__appliance-status">
          <span class="StatusComponent__appliance-status-label">{{'StatusComponent.energyChargePower' | translate}}</span>
          <span class="StatusComponent__appliance-status-value">{{getCurrentPower(status)}} kW</span>
        </div>
      }
      @if (status.remainingMinEnergy != null) {
        <div>
          <div class="StatusComponent__appliance-status">
            <span class="StatusComponent__appliance-status-label">{{'StatusComponent.remainingMinEnergy' | translate}}</span>
            <span class="StatusComponent__appliance-status-value">{{toKWh(status.remainingMinEnergy)}} kWh</span>
          </div>
        </div>
      }
      @if (status.remainingMaxEnergy != null) {
        <div>
          <div class="StatusComponent__appliance-status">
            <span class="StatusComponent__appliance-status-label">{{'StatusComponent.remainingMaxEnergy' | translate}}</span>
            <span class="StatusComponent__appliance-status-value">{{toKWh(status.remainingMaxEnergy)}} kWh</span>
          </div>
        </div>
      }
    </div>
  }
</div>
