.StatusEvchargerEditComponent {
  &__soc {
    width: 2rem;
  }

  &__soc-input {
    text-align: right;
  }

  &__dayOfWeek {
    width: 6rem;
  }

  &__chargeEndTime {
    width: 3rem;
  }

  &__error {
    padding-bottom: 0.5rem;
  }
}

.mat-form-field {
  margin: 0 0.3rem;
}
