.StatusEvchargerEditComponent {
  margin-top: 0.75rem;

  &__soc {
    width: 4rem;
  }

  &__soc-input {
    text-align: right;
  }

  &__dayOfWeek {
    width: 6rem;
  }

  &__error {
    padding-bottom: 0.5rem;
  }
}

.mat-form-field {
  margin: 0 0.3rem;
}
