<form class="StatusEvchargerEditComponent" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="StatusComponent__appliance-details-row">
    <mat-form-field>
      <mat-label>{{'StatusComponent.ev' | translate}}</mat-label>
      <mat-select formControlName="electricVehicle">
        <mat-option *ngFor="let electricVehicle of electricVehicles" [value]="electricVehicle.id">{{electricVehicle.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="StatusComponent__appliance-details-row">
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.stateOfCharge' | translate}}: </span>
    <mat-form-field class="StatusEvchargerEditComponent__soc">
      <mat-label>{{'StatusComponent.stateOfChargeCurrent' | translate}}</mat-label>
      <input matInput type="text" formControlName="stateOfChargeCurrent"
             class="StatusEvchargerEditComponent__soc-input" placeholder="0"
             required="{{formHandler.isRequired('stateOfChargeCurrent')}}">
    </mat-form-field>
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.stateOfChargeUnit' | translate}}</span>
    <mat-form-field class="StatusEvchargerEditComponent__soc">
      <mat-label>{{'StatusComponent.stateOfChargeRequested' | translate}}</mat-label>
      <input matInput type="text" formControlName="stateOfChargeRequested"
             class="StatusEvchargerEditComponent__soc-input" placeholder="100"
             required="{{formHandler.isRequired('stateOfChargeRequested')}}">
    </mat-form-field>
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.stateOfChargeUnit' | translate}}</span>
  </div>
  <div class="StatusComponent__appliance-details-row">
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.chargeLatestEndRequested' | translate}}</span>
    <mat-form-field class="StatusEvchargerEditComponent__dayOfWeek">
      <mat-label>{{'dayOfWeek' | translate}}</mat-label>
      <mat-select formControlName="chargeEndDow">
        <mat-option *ngFor="let dow of dows" [value]="dow.id">{{dow.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <app-timepicker label="{{'timeOfDay' | translate}}"
                    formControlNameTP="chargeEndTime"
                    [width]="'3rem'"
                    [noErrorOnField]="true"
                    #chargeEndTimeComponent
    ></app-timepicker>
  </div>
  <div class="StatusEvchargerEditComponent__error" *ngIf="hasErrors">
    <mat-error>{{error}}</mat-error>
  </div>
  <div class="StatusComponent__appliance-details-row StatusComponent__appliance-button-row">
    <button mat-raised-button type="button" (click)="cancelForm()">{{'StatusComponent.buttonCancel' | translate}}</button>
    <button mat-raised-button type="submit" color="primary"
            [disabled]="form.invalid">{{'StatusComponent.buttonStart' | translate}}</button>
  </div>
</form>
