.ScheduleTimeframeConsecutivedaysComponent {
  &__startDayOfWeek {
    width: 8rem;
  }

  &__startTime {
    width: 6rem;
  }

  &__endDayOfWeek {
    width: 8rem;
  }

  &__endTime {
    width: 6rem;
  }
}
