<div class="ui fields">
  <div class="field">
    <label class="sae-label">{{'ControlEvchargerHttpComponent.contentProtocol' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="contentProtocol">
      <option *ngFor="let aContentProtocol of contentProtocols"
              [ngValue]="aContentProtocol"
              [selected]="aContentProtocol==contentProtocol"
      >{{aContentProtocol}}</option>
    </select>
  </div>
  <div class="field">
    <app-http-configuration
      [httpConfiguration]="evHttpControl.httpConfiguration"
    ></app-http-configuration>
  </div>
</div>
<div class="ui hidden divider"></div>
<h4 class="ui dividing header">{{'ControlEvchargerHttpComponent.heading.httpRead' | translate}}</h4>
<app-http-read *ngFor="let httpRead of evHttpControl.httpReads; index as i; last as l"
               [httpRead]="httpRead"
               [disableFactorToValue]="true"
               [formControlNamePrefix]="getReadFormControlPrefix(i)"
               [valueNames]="readValueNames"
               [translationPrefix]="'ControlEvchargerComponent.'"
               [translationKeys]="readValueNameTextKeys"
               #httpReadComponents
></app-http-read>
<button type="button" (click)="addHttpRead()" class="ui button">
  {{'ControlEvchargerHttpComponent.button.addHttpRead' | translate}}</button>
<h4 class="ui dividing header">{{'ControlEvchargerHttpComponent.heading.httpWrite' | translate}}</h4>
<app-http-write *ngFor="let httpWrite of evHttpControl.httpWrites; index as i; last as l"
                [httpWrite]="httpWrite"
                [formControlNamePrefix]="getWriteFormControlPrefix(i)"
                [valueNames]="writeValueNames"
                [translationPrefix]="'ControlEvchargerComponent.'"
                [translationKeys]="writeValueNameTextKeys"
                #httpWriteComponents
></app-http-write>
<button type="button" (click)="addHttpWrite()" class="ui button">
  {{'ControlEvchargerHttpComponent.button.addHttpWrite' | translate}}</button>
