@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming";
@import 'node_modules/include-media/dist/_include-media.scss';
@import "variables";

html, body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  margin: 0;
  height: 100%;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

mat-form-field, mat-checkbox {
  margin: $field-margin;
}

/* BEGIN: https://github.com/angular/components/issues/4580 */
//* use .mat-form-field-invalid since it is only set after field had focus */
mat-form-field:not(.no-error-on-field).ng-touched.mat-form-field-invalid {
  animation: bigger;
  animation-duration: 0.3s;
  margin-bottom: 60px;
}

@keyframes bigger {
  from {margin-bottom: 0;}
  to {margin-bottom: 60px;}
}
/* END: https://github.com/angular/components/issues/4580 */

button {
  height: 2.25rem;
  min-width: fit-content !important;
  bottom: 0.25rem;
  margin: 0 $field-margin !important;
}

.sae {
  &__contentPath {
    width: 15rem;
  }

  &__contentProtocol {
    width: 5rem;
  }

  &__factorToValue {
    width: 8rem;
  }

  &__fields {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
  }

  &__fields-with-button {
    display: flex;
    flex-flow: nowrap;
    align-items: baseline;
  }

  &__heading-extra-top-margin {
    margin-top: 1.25rem;
  }

  &__hostname {
    width: 5rem;
  }

  &__http-method {
    width: 6rem;
  }

  &__mandatory_fields_hint {
    margin: 1.5rem $field-margin;
  }

  &__modbus-address {
    width: 7rem;
  }

  &__modbus-name {
    width: 6rem;
  }

  &__modbus-register-type {
    width: 8rem;
  }

  &__phases {
    width: 5rem;
  }

  &__pollInterval {
    width: 7rem;
  }

  &__port {
    width: 4rem;
  }

  &__regex {
    width: 12rem;
  }

  &__url {
    width: 35rem;

    @include media(">xs", "<=sm") {
      width: 28rem;
    }

    @include media("<=xs") {
      width: 20rem;
    }
  }

  &__value-name {
    width: 18rem;
  }

  &__voltage {
    width: 5rem;
  }
}
