<div class="ui fields" [formGroup]="form">
  <div class="field">
    <label>{{'MeterHttpComponent.pollInterval' | translate}}</label>
    <input type="text" formControlName="pollInterval"
           placeholder="{{meterDefaults.httpElectricityMeter_pollInterval}}">
    <div *ngIf="errors.pollInterval" class="ui negative message">{{errors.pollInterval}}</div>
  </div>
  <div class="field">
    <label>{{'MeterHttpComponent.measurementInterval' | translate}}</label>
    <input type="text" formControlName="measurementInterval"
           placeholder="{{meterDefaults.httpElectricityMeter_measurementInterval}}">
    <div *ngIf="errors.measurementInterval" class="ui negative message">{{errors.measurementInterval}}</div>
  </div>
  <div class="field">
    <label>{{'MeterHttpComponent.contentProtocol' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="contentProtocol">
      <option *ngFor="let aContentProtocol of contentProtocols"
              [ngValue]="aContentProtocol"
              [selected]="aContentProtocol==contentProtocol"
      >{{aContentProtocol}}</option>
    </select>
  </div>
  <div class="field">
    <app-http-configuration
      [httpConfiguration]="httpElectricityMeter.httpConfiguration"
    ></app-http-configuration>
  </div>
</div>
<app-http-read *ngFor="let httpRead of httpElectricityMeter.httpReads; index as i; last as l"
  [httpRead]="httpRead"
  [maxValues]="maxValues"
  [formControlNamePrefix]="getReadFormControlPrefix(i)"
  [valueNames]="valueNames"
  [translationPrefix]="'MeterHttpComponent.'"
  [translationKeys]="valueNameTextKeys"
  (remove)="onHttpReadRemove(i)"
  #powerHttpRead
></app-http-read>
<button type="button" (click)="addHttpRead()" class="ui button" *ngIf="isAddHttpReadPossible">
  {{'MeterHttpComponent.button.addHttpRead' | translate}}</button>
