<div class="fields" [formGroup]="form">
  <mat-form-field>
    <mat-label>{{'HttpWriteValueComponent.name' | translate}}</mat-label>
    <mat-select formControlName="name" required="{{formHandler.isRequired('name')}}">
      <mat-option *ngFor="let valueName of valueNames" [value]="valueName">
        {{getTranslatedValueName(valueName)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="value">
    <mat-label>{{'HttpWriteValueComponent.value' | translate}}</mat-label>
    <input matInput type="text" formControlName="value"
           required="{{formHandler.isRequired('value')}}">
    <mat-error *ngIf="errors.value">{{errors.value}}</mat-error>
  </mat-form-field>
  <mat-form-field class="factorToValue" *ngIf="! disableFactorToValue">
    <mat-label>{{'HttpWriteValueComponent.factorToValue' | translate}}</mat-label>
    <input matInput type="text" formControlName="factorToValue"
           required="{{formHandler.isRequired('factorToValue')}}">
    <mat-error *ngIf="errors.factorToValue">{{errors.factorToValue}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'HttpWriteValueComponent.method' | translate}}</mat-label>
    <mat-select formControlName="method" required="{{formHandler.isRequired('method')}}">
      <mat-option *ngFor="let method of methods" [value]="method">
        {{getMethodTranslationKey(method)| translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
