<div class="ui fields">
  <div class="five wide field">
    <label class="sae-label">{{'HttpWriteValueComponent.name' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="{{this.getFormControlName('name')}}">
      <option *ngFor="let aValueName of valueNames"
              [ngValue]="aValueName"
              [selected]="aValueName==httpWriteValue.name"
      >{{getTranslatedValueName(aValueName)}}</option>
    </select>
  </div>
  <div class="field">
    <label class="sae-label">{{'HttpWriteValueComponent.value' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('value')}}">
  </div>
  <div class="field" *ngIf="! disableFactorToValue">
    <label class="sae-label">{{'HttpWriteValueComponent.factorToValue' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('factorToValue')}}">
    <div *ngIf="errors[this.getFormControlName('factorToValue')]"
         class="ui negative message">{{errors[this.getFormControlName('factorToValue')]}}</div>
  </div>
  <div class="field">
    <label class="sae-label">{{'HttpMethod' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="{{this.getFormControlName('method')}}">
      <option *ngFor="let aMethod of methods" [ngValue]="aMethod" [selected]="aMethod === method"
      >{{getMethodTranslationKey(aMethod)| translate}}</option>
    </select>
  </div>
</div>
