<div class="sae__fields">
  <mat-form-field class="minEnergy">
    <mat-label>{{'ScheduleRequestEnergyComponent.minEnergy' | translate}}</mat-label>
    <input matInput type="text" formControlName="minEnergy"
           required="{{formHandler.isRequired('minEnergy')}}">
    <mat-error *ngIf="errors.minEnergy">{{errors.minEnergy}}</mat-error>
  </mat-form-field>
  <mat-form-field class="maxEnergy">
    <mat-label>{{'ScheduleRequestEnergyComponent.maxEnergy' | translate}}</mat-label>
    <input matInput type="text" formControlName="maxEnergy"
           required="{{formHandler.isRequired('maxEnergy')}}">
    <mat-error *ngIf="errors.minEnergy">{{errors.maxEnergy}}</mat-error>
  </mat-form-field>
</div>
