<div class="ui fields">
    <div class="ui two wide field">
      <label>{{'ScheduleTimeframeConsecutivedaysComponent.startDayOfWeek' | translate}}</label>
      <sui-select class="selection form-control"
                  [options]="daysOfWeek"
                  labelField="name"
                  valueField="id"
                  formControlName="startDayOfWeek"
                  placeholder=" "
                  #selectStartDayOfWeek
      >
        <sui-select-option *ngFor="let option of selectStartDayOfWeek.filteredOptions"
                           class="dropdown-item" [value]="option"></sui-select-option>
      </sui-select>
    </div>
    <div class="ui two wide field">
      <label>{{'ScheduleTimeframeConsecutivedaysComponent.startTime' | translate}}</label>
      <input type="text" class="clockpicker" formControlName="startTime">
      <div *ngIf="errors.startTime" class="ui negative message">
        {{errors.startTime}}</div>
    </div>
    <div class="ui two wide field">
      <label>{{'ScheduleTimeframeConsecutivedaysComponent.endDayOfWeek' | translate}}</label>
      <sui-select class="selection form-control"
                  [options]="daysOfWeek"
                  labelField="name"
                  valueField="id"
                  formControlName="endDayOfWeek"
                  placeholder=" "
                  #selectEndDayOfWeek
      >
        <sui-select-option *ngFor="let option of selectEndDayOfWeek.filteredOptions"
                           class="dropdown-item" [value]="option"></sui-select-option>
      </sui-select>
    </div>
    <div class="ui two wide field">
      <label>{{'ScheduleTimeframeConsecutivedaysComponent.endTime' | translate}}</label>
      <input type="text" class="clockpicker" formControlName="endTime">
      <div *ngIf="errors.endTime" class="ui negative message">
        {{errors.endTime}}</div>
    </div>
</div>
