<div class="ModbusWriteComponent" [formGroup]="form">
  <div class="sae__fields-with-button">
    <div class="sae__fields">
      <mat-form-field class="sae__modbus-address">
        <mat-label>{{'ModbusReadComponent.address' | translate}}</mat-label>
        <input matInput type="text" formControlName="address"
          required="{{isRequired('address')}}">
        @if (errors.address) {
          <mat-error>{{errors.address}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field class="sae__modbus-register-type">
        <mat-label>{{'ModbusReadComponent.type' | translate}}</mat-label>
        <mat-select formControlName="type" required="{{isRequired('type')}}">
          @for (registerType of registerTypes; track registerType) {
            <mat-option [value]="registerType">
              {{getTranslatedRegisterType(registerType)}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      @if (isValueTypeDisplayed) {
        <mat-form-field class="ModbusReadComponent__value-type">
          <mat-label>{{'ModbusReadComponent.valueType' | translate}}</mat-label>
          <mat-select formControlName="valueType" required="true">
            @for (valueType of valueTypes; track valueType) {
              <mat-option [value]="valueType">
                {{getTranslatedValueType(valueType)}}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }
      @if (isFactorToValueDisplayed) {
        <mat-form-field class="sae__factorToValue">
          <mat-label>{{'ModbusReadComponent.factorToValue' | translate}}</mat-label>
          <input matInput type="text" formControlName="factorToValue" placeholder="1"
            required="{{isRequired('factorToValue')}}">
          @if (errors.factorToValue) {
            <mat-error>{{errors.factorToValue}}</mat-error>
          }
        </mat-form-field>
      }
    </div>
    <button mat-raised-button type="button" (click)="removeModbusWrite()">
    {{'ModbusWriteComponent.button.remove' | translate}}</button>
  </div>
  <div formArrayName="modbusWriteValues">
    @for (writeValue of modbusWrite.writeValues; track writeValue; let i = $index) {
      <div class="sae__fields-with-button">
        <div class="sae__field">
          <app-modbus-write-value
            [modbusWriteValue]="writeValue"
            [formGroupName]="i"
            [form]="getModbusWriteValueFormGroup(i)"
            [valueNames]="valueNames"
            [translationPrefix]="translationPrefix"
            [translationKeys]="translationKeys"
            (nameChanged)="onNameChanged(i, $event)"
            #modbusWriteValues
          ></app-modbus-write-value>
        </div>
        <button mat-raised-button type="button" (click)="removeValue(i)">
        {{'ModbusWriteComponent.button.removeValue' | translate}}</button>
      </div>
    }
  </div>
</div>
@if (isAddValuePossible) {
  <button mat-raised-button type="button" (click)="addValue()" class="ModbusWriteComponent__addValue">
  {{'ModbusWriteComponent.button.addValue' | translate}}</button>
}
