<div class="ModbusWriteComponent" [formGroup]="form">
  <div class="sae__fields-with-button">
    <div class="sae__fields">
      <mat-form-field class="sae__modbus-address">
        <mat-label>{{'ModbusReadComponent.address' | translate}}</mat-label>
        <input matInput type="text" formControlName="address"
               required="{{formHandler.isRequired('address')}}">
        <mat-error *ngIf="errors.address">{{errors.address}}</mat-error>
      </mat-form-field>
      <mat-form-field class="sae__modbus-register-type">
        <mat-label>{{'ModbusReadComponent.type' | translate}}</mat-label>
        <mat-select formControlName="type" required="{{formHandler.isRequired('type')}}">
          <mat-option *ngFor="let registerType of registerTypes" [value]="registerType">
            {{getTranslatedRegisterType(registerType)}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="sae__factorToValue" *ngIf="isFactorToValueDisplayed">
        <mat-label>{{'ModbusReadComponent.factorToValue' | translate}}</mat-label>
        <input matInput type="text" formControlName="factorToValue" placeholder="1"
               required="{{formHandler.isRequired('factorToValue')}}">
        <mat-error *ngIf="errors.factorToValue">{{errors.factorToValue}}</mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button type="button" (click)="removeModbusWrite()">
      {{'ModbusWriteComponent.button.remove' | translate}}</button>
  </div>
  <div formArrayName="modbusWriteValues">
    <div class="sae__fields-with-button" *ngFor="let writeValue of modbusWrite.writeValues; index as i">
      <div class="sae__field">
        <app-modbus-write-value
          [modbusWriteValue]="writeValue"
          [formGroupName]="i"
          [form]="getModbusWriteValueFormGroup(i)"
          [valueNames]="valueNames"
          [translationPrefix]="translationPrefix"
          [translationKeys]="translationKeys"
          (nameChanged)="onNameChanged(i, $event)"
          #modbusWriteValues
        ></app-modbus-write-value>
      </div>
      <button mat-raised-button type="button" (click)="removeValue(i)">
        {{'ModbusWriteComponent.button.removeValue' | translate}}</button>
    </div>
  </div>
</div>
<button mat-raised-button type="button" class="ModbusWriteComponent__addValue" (click)="addValue()" *ngIf="isAddValuePossible">
  {{'ModbusWriteComponent.button.addValue' | translate}}</button>
