.sae-title {
  height: 3rem;
  font-size: 2rem;
  padding-left: 10px;
  line-height: 3rem;
  overflow: hidden;
  color: white;
  background-color: #1B1C1D;
  font-weight: 700;
}

.sae-version {
  font-size: 0.8rem;
}

.ui.inverted.menu {
  margin-top: 0px;
  border-radius: 0px;
}

.ui.segment {
  padding-top: 0;
  border: 0;
}

label.required::after {
  content: " (*)";
}
