label.required::after {
  content: " (*)";
}

.ui.checkbox {
  min-height: 2.5rem;
  bottom: 1.2857rem;
}

.icon-field {
  padding-top: 2.0em;
}

.standalone-label {
  min-height: 2.5rem;
  line-height: 2.5rem
}
