label.required::after {
  content: " (*)";
}

.ui.checkbox {
  min-height: 2.5rem;
  bottom: 1.2857rem;
}

.ui.selection.dropdown {
  min-width: 0px;
}

.dropdown-item {
  white-space: nowrap !important;
}

.ui.grid > .column {
  padding: 0;
}

.sae-fields {
  flex-wrap: wrap;
}

.sae-header {
  padding-top: 1.5rem;
}

.sae-block {
  margin-bottom: 1em;
}

.icon-field {
  padding-top: 2.0em;
}

.sae-label {
  white-space: nowrap;
}

.standalone-label {
  min-height: 2.5rem;
  line-height: 2.5rem
}

.clockpicker {
  width: 4em;
}

.dow-select {
  min-width: 8.5rem !important;
}

.time-of-day {
  width: 5rem !important;
}

.percentage-input {
  padding-left: 4px !important;
  padding-right: 4px !important;
  width: 2.5em !important;
}

.mandatory-fields {
  padding-bottom: 1.5rem;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 300px;
  bottom: 100%;
  left: 50%;
  margin-left: -130px;
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  border: 1px solid #D4D4D5;
  border-radius: 0.28571429rem;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
  padding: 0.833em 1em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  position: absolute;
  z-index: 1;
}
