<div class="HttpReadValueComponent sae__fields" [formGroup]="form">
  <mat-form-field class="sae__value-name">
    <mat-label>{{'HttpReadValueComponent.name' | translate}}</mat-label>
    <mat-select formControlName="name" required="{{isRequired('name')}}" (ngModelChange)="onNameChanged($event)">
      @for (valueName of valueNames; track valueName) {
        <mat-option [value]="valueName">
          {{getTranslatedValueName(valueName)}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="sae__http-method">
    <mat-label>{{'HttpReadValueComponent.method' | translate}}</mat-label>
    <mat-select formControlName="method" required="{{isRequired('method')}}">
      @for (method of methods; track method) {
        <mat-option [value]="method">
          {{getMethodTranslationKey(method)| translate}}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="HttpReadValueComponent__data">
    <mat-label>{{'HttpReadValueComponent.data' | translate}}</mat-label>
    <input matInput type="text" formControlName="data"
      required="{{isRequired('data')}}">
    @if (errors.data) {
      <mat-error>{{errors.data}}</mat-error>
    }
  </mat-form-field>
  @if (contentProtocol) {
    <mat-form-field class="sae__contentPath">
      <mat-label>{{'HttpReadValueComponent.path' | translate}}</mat-label>
      <input matInput type="text" formControlName="path"
        required="{{isRequired('path')}}">
      @if (errors.path) {
        <mat-error>{{errors.path}}</mat-error>
      }
    </mat-form-field>
  }
  <mat-form-field class="sae__regex">
    <mat-label>{{'HttpReadValueComponent.extractionRegex' | translate}}</mat-label>
    <input matInput type="text" formControlName="extractionRegex"
      matTooltip="{{'regex.tooltip' | translate}}"
      [matTooltipDisabled]="'matTooltipDisabled' | env"
      required="{{isRequired('extractionRegex')}}">
    @if (errors.extractionRegex) {
      <mat-error>{{errors.extractionRegex}}</mat-error>
    }
  </mat-form-field>
  @if (! disableFactorToValue) {
    <mat-form-field class="sae__factorToValue">
      <mat-label>{{'HttpReadValueComponent.factorToValue' | translate}}</mat-label>
      <input matInput type="text" formControlName="factorToValue"
        placeholder="1"
        required="{{isRequired('factorToValue')}}">
      @if (errors.factorToValue) {
        <mat-error>{{errors.factorToValue}}</mat-error>
      }
    </mat-form-field>
  }
</div>
