<div class="ui fields">
  <div class="field">
    <label>{{'MeterModbusComponent.idref' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="idref">
      <option *ngFor="let modbusSetting of modbusSettings" [ngValue]="modbusSetting.modbusTcpId"
              [selected]="modbusSetting.modbusTcpId==modbusElectricityMeter.idref">
        {{modbusSetting.modbusTcpId}}</option>
    </select>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.slaveAddress' | translate}}</label>
    <input type="text" formControlName="slaveAddress">
    <div *ngIf="errors.slaveAddress" class="ui negative message">{{errors.slaveAddress}}</div>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.pollInterval' | translate}}</label>
    <input type="text" formControlName="pollInterval"
           placeholder="{{meterDefaults.modbusElectricityMeter_pollInterval}}">
    <div *ngIf="errors.pollInterval" class="ui negative message">{{errors.pollInterval}}</div>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.measurementInterval' | translate}}</label>
    <input type="text" formControlName="measurementInterval"
           placeholder="{{meterDefaults.httpElectricityMeter_measurementInterval}}">
    <div *ngIf="errors.measurementInterval" class="ui negative message">{{errors.measurementInterval}}</div>
  </div>
</div>
  <app-modbus-register
    [register]="powerConfiguration"
    [valueNames]="powerValueNames"
    [valueNameTextKeys]="powerValueNameTextKeys"
    [readRegisterTypes]="readRegisterTypes"
    [isReadOnly]="true"
    [formControlNamePrefix]="'power'"
    [translationPrefix]="'MeterModbusComponent.'"
    [translationKeys]="translationKeys"
  ></app-modbus-register>
<app-modbus-register
  [register]="energyConfiguration"
  [valueNames]="energyValueNames"
  [valueNameTextKeys]="energyValueNameTextKeys"
  [readRegisterTypes]="readRegisterTypes"
  [isReadOnly]="true"
  [formControlNamePrefix]="'energy'"
  [translationPrefix]="'MeterModbusComponent.'"
  [translationKeys]="translationKeys"
></app-modbus-register>
