<div class="ui fields">
  <div class="field">
    <label>{{'MeterModbusComponent.idref' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="idref">
      <option *ngFor="let modbusSetting of modbusSettings" [ngValue]="modbusSetting.modbusTcpId"
              [selected]="modbusSetting.modbusTcpId==modbusElectricityMeter.idref">
        {{modbusSetting.modbusTcpId}}</option>
    </select>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.slaveAddress' | translate}}</label>
    <input type="text" formControlName="slaveAddress">
    <div *ngIf="errors.slaveAddress" class="ui negative message">{{errors.slaveAddress}}</div>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.pollInterval' | translate}}</label>
    <input type="text" formControlName="pollInterval"
           placeholder="{{meterDefaults.modbusElectricityMeter_pollInterval}}">
    <div *ngIf="errors.pollInterval" class="ui negative message">{{errors.pollInterval}}</div>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.measurementInterval' | translate}}</label>
    <input type="text" formControlName="measurementInterval"
           placeholder="{{meterDefaults.httpElectricityMeter_measurementInterval}}">
    <div *ngIf="errors.measurementInterval" class="ui negative message">{{errors.measurementInterval}}</div>
  </div>
</div>
<h4 class="ui dividing header">{{'MeterModbusComponent.Power' | translate}}</h4>
<app-modbus-read
    [modbusRead]="modbusElectricityMeter.powerModbusRead"
    [singleValue]="true"
    [formControlNamePrefix]="'power'"
    [valueNames]="powerValueNames"
    [readRegisterTypes]="settingsDefaults.modbusReadRegisterTypes"
    [translationPrefix]="'MeterModbusComponent.'"
    [translationKeys]="powerValueNameTextKeys"
    #powerHttpRead
  ></app-modbus-read>
<h4 class="ui dividing header">{{'MeterModbusComponent.Energy' | translate}}</h4>
<app-modbus-read
  [modbusRead]="modbusElectricityMeter.energyModbusRead"
  [singleValue]="true"
  [formControlNamePrefix]="'energy'"
  [valueNames]="energyValueNames"
  [readRegisterTypes]="settingsDefaults.modbusReadRegisterTypes"
  [translationPrefix]="'MeterModbusComponent.'"
  [translationKeys]="energyValueNameTextKeys"
  #energyHttpRead
></app-modbus-read>
