<div class="ui fields">
  <div class="field">
    <label>{{'MeterModbusComponent.idref' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="idref">
      <option *ngFor="let modbusSetting of modbusSettings" [ngValue]="modbusSetting.modbusTcpId"
              [selected]="modbusSetting.modbusTcpId==modbusElectricityMeter.idref">
        {{modbusSetting.modbusTcpId}}</option>
    </select>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.slaveAddress' | translate}}</label>
    <input type="text" formControlName="slaveAddress">
    <div *ngIf="errors.slaveAddress" class="ui negative message">{{errors.slaveAddress}}</div>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.pollInterval' | translate}}</label>
    <input type="text" formControlName="pollInterval"
           placeholder="{{meterDefaults.modbusElectricityMeter_pollInterval}}">
    <div *ngIf="errors.pollInterval" class="ui negative message">{{errors.pollInterval}}</div>
  </div>
  <div class="field">
    <label>{{'MeterModbusComponent.measurementInterval' | translate}}</label>
    <input type="text" formControlName="measurementInterval"
           placeholder="{{meterDefaults.httpElectricityMeter_measurementInterval}}">
    <div *ngIf="errors.measurementInterval" class="ui negative message">{{errors.measurementInterval}}</div>
  </div>
</div>
<app-modbus-read *ngFor="let modbusRead of modbusElectricityMeter.modbusReads; index as i; last as l"
    [modbusRead]="modbusRead"
    [maxValues]="maxValues"
    [formControlNamePrefix]="getReadFormControlPrefix(i)"
    [valueNames]="valueNames"
    [readRegisterTypes]="settingsDefaults.modbusReadRegisterTypes"
    [translationPrefix]="'MeterModbusComponent.'"
    [translationKeys]="valueNameTextKeys"
    (remove)="onModbusReadRemove(i)"
    #modbusReadComponents
  ></app-modbus-read>
<button type="button" (click)="addModbusRead()" class="ui button" *ngIf="isAddModbusReadPossible">
  {{'MeterModbusComponent.button.addModbusRead' | translate}}</button>
