#############################################################################################
#
# Konfigurationsdatei für die Installation des Smart Appliance Enabler auf einem Raspberry Pi
#
#############################################################################################
#
# Zeilen, die mit # beginnen, sind Kommentare.
#

# Für den Smart Appliance Enabler wird der Benutzer "sae" angelegt.
# Hier wird das Passwort für diesen Benutzer konfiguriert. Es muss in " angegeben werden.
# Beispiel:
# PASSWORD="sae"
PASSWORD="sae"

# Falls das der Raspberry Pi über WLAN genutzt werden soll müssen hier die SSID und das Passwort des WLAN angegeben werden.
# Beides muss in " angegeben werden!
# Beispiel:
# WIFI_SSID="FritzWLAN"
WIFI_SSID=""
# Beispiel:
# WIFI_PSK="mein-geheimes-WLAN-Passwort"
WIFI_PSK=""
# Für die WLAN-Konfiguration ist auch das Land notwendig, in dem das WLAN betrieben wird.
# Für Deutschland ist dieser Wert bereits richtig gesetzt.
WIFI_COUNTRY=DE

# Damit der Smart Appliance Enabler die Schaltzeiten korrekt berechnet und damit in den Log-Dateien die
# richtigen Zeitangaben stehen muss hier die Zeitzone gesetzt werden.
# Für Deutschland ist dieser Wert bereits richtig gesetzt.
TIMEZONE="Europe/Berlin"

# Wenn man sich mit Linux nicht auskennt, bietet sich die Installation von "webmin" an, um den Raspberry Pi mittels
# Web-Browser administrierbar zu machen. Standardmässig wird "webmin" installiert.
INSTALL_WEBMIN=true

# !!! An den nachfolgenden Zeilen sollte nichts geändert werden !!!
LOG=/tmp/install.log
PREFIX="**********"
PACKAGES="openjdk-11-jre-headless wiringpi"
WEBMIN_VERSION="1.970"

PARENT_SCRIPT=/etc/rc.local
PARENT_SCRIPT_BACKUP=/etc/rc.local.bak
INSTALL_DIR=/usr/local/bin
POWER_LED=/sys/class/leds/led1/brightness
