#############################################################################################
#
# Konfigurationsdatei für die Installation des Smart Appliance Enabler auf einem Raspberry Pi
#
#############################################################################################
#
# Zeilen, die mit # beginnen, sind Kommentare.
#

# Für den Smart Appliance Enabler wird der Benutzer "sae" angelegt.
# Hier wird das Passwort für diesen Benutzer konfiguriert. Es muss in " angegeben werden.
# Beispiel:
# PASSWORD="sae"
PASSWORD="sae"

# Damit der Smart Appliance Enabler die Schaltzeiten korrekt berechnet und damit in den Log-Dateien die
# richtigen Zeitangaben stehen muss hier die Zeitzone gesetzt werden.
# Für Deutschland ist dieser Wert bereits richtig gesetzt.
TIMEZONE="Europe/Berlin"

# Unterstützung von USB-Modbus-Adaptern (manchmal auch als USB-RS485-Adapter bezeichnet) zur Anbindung von Geräten
# über Modbus/RTU. Weil der Smart Appliance Enabler nur Modbus/TCP unterstützt ist die Installation von mbusd
# erforerlich, einem Modbus/TCP zu Modbus/RTU Gateway.
INSTALL_MBUSD=true

# Standardmässig wird webmin (https://www.webmin.com) installiert, wodurch der Raspberry Pi mittels
# Web-Browser administriert werden kann. Das ist sehr hilfreich, wenn man sich nicht mit Linux auskennt.
INSTALL_WEBMIN=true

# !!! An den nachfolgenden Zeilen sollte nichts geändert werden !!!
LOG=/tmp/install.log
PREFIX="**********"
PACKAGES="openjdk-17-jre-headless pigpiod jq mosquitto"
WEBMIN_VERSION="2.520"

PARENT_SCRIPT=/etc/rc.local
PARENT_SCRIPT_BACKUP=/etc/rc.local.bak
SCRIPT2=install2.sh
INSTALL_DIR=/usr/local/bin
SAE_HOME=/opt/sae
SIGNAL_LED=/sys/class/leds/ACT/brightness
