#############################################################################################
#
# Konfigurationsdatei für das Update des Smart Appliance Enabler auf einem Raspberry Pi
#
#############################################################################################
#
# Zeilen, die mit # beginnen, sind Kommentare.
#

# Standardmässig werden keine Beta-Versionen beim Update berücksichtigt.
# Falls doch Beta-Versionen beim Update berücksichtigt werden sollen, muss gesetzt werden:
# BETA_VERSIONS=true
BETA_VERSIONS=false

# !!! An den nachfolgenden Zeilen sollte nichts geändert werden !!!
LOG=/tmp/update.log
PREFIX="**********"

PARENT_SCRIPT=/etc/rc.local
PARENT_SCRIPT_BACKUP=/etc/rc.local.bak
SCRIPT2=update2.sh
INSTALL_DIR=/usr/local/bin
SAE_HOME=/opt/sae
POWER_LED=/sys/class/leds/led1/brightness

