<div class="ui fields">
  <div class="field">
    <label>{{'HttpReadValueComponent.enabled' | translate}}</label>
    <input class="ui checkbox" type="checkbox" formControlName="{{this.getFormControlName('enabled')}}">
  </div>
  <div class="three wide field" [class.disabled]="disabled">
    <label>{{'HttpReadValueComponent.name' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="{{this.getFormControlName('name')}}">
      <option *ngFor="let valueName of valueNames"
              [ngValue]="valueName"
              [selected]="valueName==selectedValueName"
      >{{getTranslatedValueName(valueName)}}</option>
    </select>
  </div>
  <div class="field" [class.disabled]="disabled">
    <label>{{'HttpReadValueComponent.data' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('data')}}">
  </div>
  <div class="field" [class.disabled]="disabled">
    <label>{{'HttpReadValueComponent.path' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('path')}}">
  </div>
  <div class="field" [class.disabled]="disabled">
    <label>{{'HttpReadValueComponent.extractionRegex' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('extractionRegex')}}">
  </div>
  <div class="field" [class.disabled]="disabled">
    <label>{{'HttpReadValueComponent.factorToValue' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('factorToValue')}}">
    <div *ngIf="errors[this.getFormControlName('factorToValue')]"
         class="ui negative message">{{errors[this.getFormControlName('factorToValue')]}}</div>
  </div>
</div>
