<div class="ui fields" [formGroup]="form">
  <div class="five wide field">
    <label class="sae-label">{{'HttpReadValueComponent.name' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="{{this.getFormControlName('name')}}">
      <option *ngFor="let aValueName of valueNames"
              [ngValue]="aValueName"
              [selected]="aValueName==httpReadValue.name"
      >{{getTranslatedValueName(aValueName)}}</option>
    </select>
  </div>
  <div class="field">
    <label class="sae-label">{{'HttpReadValueComponent.data' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('data')}}">
  </div>
  <div class="field">
    <label class="sae-label">{{'HttpReadValueComponent.path' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('path')}}">
  </div>
  <div class="field">
    <label class="sae-label">{{'HttpReadValueComponent.extractionRegex' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('extractionRegex')}}">
  </div>
  <div class="two wide field" *ngIf="! disableFactorToValue">
    <label class="sae-label">{{'HttpReadValueComponent.factorToValue' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('factorToValue')}}">
    <div *ngIf="errors[this.getFormControlName('factorToValue')]"
         class="ui negative message">{{errors[this.getFormControlName('factorToValue')]}}</div>
  </div>
</div>
