<div class="ScheduleTimeframeDayComponent sae__fields">
  <app-timepicker label="{{'ScheduleTimeframeDayComponent.startTime' | translate}}"
                  formControlNameTP="startTime"
                  [value]="startTime"
                  [required]="true"
                  [enabled]="enabled"
                  [width]="'7rem'"
                  [errorMessages]="errorMessages"
                  #startTimeComponent
  ></app-timepicker>
  <app-timepicker label="{{'ScheduleTimeframeDayComponent.endTime' | translate}}"
                  formControlNameTP="endTime"
                  [value]="endTime"
                  [required]="true"
                  [enabled]="enabled"
                  [width]="'7rem'"
                  [errorMessages]="errorMessages"
                  #endTimeComponent
  ></app-timepicker>
  <mat-form-field class="ScheduleTimeframeDayComponent__daysOfWeekValues">
    <mat-label>{{'ScheduleTimeframeDayComponent.daysOfWeekValues' | translate}}</mat-label>
    <mat-select formControlName="daysOfWeekValues" multiple
                placeholder="{{'ScheduleTimeframeDayComponent.daysOfWeekValues_placeholder' | translate}}"
                required="{{formHandler.isRequired('daysOfWeekValues')}}">
      <mat-option *ngFor="let dayOfWeek of daysOfWeek" [value]="dayOfWeek.id">
        {{dayOfWeek.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
