<div class="MeterHttpComponent">
  <div class="sae__fields">
    <mat-form-field class="pollInterval" *ngIf="displayPollInterval">
      <mat-label>{{'MeterHttpComponent.pollInterval' | translate}}</mat-label>
      <input matInput type="text" formControlName="pollInterval"
             placeholder="{{meterDefaults.httpElectricityMeterDefaults.pollInterval}}"
             required="{{isRequired('pollInterval')}}">
      <mat-error *ngIf="errors.pollInterval">{{errors.pollInterval}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{'MeterHttpComponent.contentProtocol' | translate}}</mat-label>
      <mat-select formControlName="contentProtocol" required="{{isRequired('contentProtocol')}}">
        <mat-option *ngFor="let contentProtocol of contentProtocols" [value]="contentProtocol">
          {{contentProtocol}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <app-http-configuration
    [form]="form"
    [httpConfiguration]="httpElectricityMeter.httpConfiguration"
  ></app-http-configuration>
  <app-http-read [form]="form"
                 [httpRead]="httpElectricityMeter.httpReads[0]"
                 [maxValues]="maxValues"
                 [disableRemove]="true"
                 [valueNames]="valueNames"
                 [contentProtocol]="contentProtocol"
                 [translationPrefix]="'MeterHttpComponent.'"
                 [translationKeys]="valueNameTextKeys"
                 (nameChanged)="onNameChanged($event)"
  ></app-http-read>
</div>
