<div class="ControlMeterreportingComponent sae__fields">
  <mat-form-field>
    <mat-label>{{'ControlMeterreportingComponent.powerThreshold' | translate}}</mat-label>
    <input matInput type="text" formControlName="powerThreshold"
           placeholder="{{controlDefaults.meterReportingSwitchDefaults.powerThreshold}}"
           required="{{formHandler.isRequired('powerThreshold')}}">
    <mat-error *ngIf="errors.powerThreshold">{{errors.powerThreshold}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{'ControlMeterreportingComponent.offDetectionDelay' | translate}}</mat-label>
    <input matInput type="text" formControlName="offDetectionDelay"
           placeholder="{{controlDefaults.meterReportingSwitchDefaults.offDetectionDelay}}"
           matTooltip="{{'ControlMeterreportingComponent.offDetectionDelay.tooltip' | translate}}"
           required="{{formHandler.isRequired('offDetectionDelay')}}">
    <mat-error *ngIf="errors.offDetectionDelay">{{errors.offDetectionDelay}}</mat-error>
  </mat-form-field>
</div>
