<div class="ui fields">
  <div class="field">
    <label>{{'MeterS0NetworkedComponent.impulsesPerKwh' | translate}}</label>
    <input type="text" formControlName="impulsesPerKwh">
    <div *ngIf="errors.impulsesPerKwh" class="ui negative message">{{errors.impulsesPerKwh}}</div>
  </div>
  <div class="field">
    <label>{{'MeterS0NetworkedComponent.measurementInterval' | translate}}</label>
    <input type="text" formControlName="measurementInterval"
           placeholder="{{meterDefaults.s0ElectricityMeter_measurementInterval}}">
  </div>
</div>
