<div class="StatusEvchargerViewComponent">
  <div class="StatusComponent__appliance-name">{{getEvName(status.evIdCharging)}}</div>
  <div class="StatusComponent__appliance-status" *ngIf="stateKey">
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.state' | translate}}:</span>
    <span class="StatusComponent__appliance-status-value"> {{stateKey | translate}}</span>
    <span class="StatusComponent__appliance-status-value" *ngIf="status.stateLastChangedTimestamp"
    > ({{'StatusEvchargerViewComponent.since' | translate}} {{toHHmmFromTimestamp(status.stateLastChangedTimestamp)}})</span>
  </div>
  <div *ngIf="status.evIdCharging">
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.stateOfCharge' | translate}}:</span>
    <div class="StatusComponent__appliance-status-value-indented">
      <span class="StatusComponent__appliance-status-value">{{status.soc}}{{'StatusComponent.stateOfChargeUnit' | translate}} ({{'StatusEvchargerViewComponent.currently' | translate}})</span>
    </div>
    <div class="StatusComponent__appliance-status-value-indented" *ngIf="status.socInitial">
    <span class="StatusComponent__appliance-status-value">{{status.socInitial}}{{'StatusComponent.stateOfChargeUnit' | translate
      }} ({{toWeekdayStringFromTimestamp(status.socInitialTimestamp)}} {{toHHmmFromTimestamp(status.socInitialTimestamp)}})</span>
    </div>
  </div>
  <div class="StatusComponent__appliance-status" *ngIf="status.currentChargePower != null">
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.energyChargePower' | translate}}</span>
    <span class="StatusComponent__appliance-status-value">{{getCurrentChargePower(status)}} kW</span>
  </div>
  <div class="StatusComponent__appliance-status" *ngIf="status.chargedEnergyAmount != null">
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.energyCharged' | translate}}</span>
    <span class="StatusComponent__appliance-status-value">{{toKWh(status.chargedEnergyAmount)}} kWh</span>
  </div>
  <div class="StatusComponent__appliance-status" *ngIf="status.plannedEnergyAmount != null">
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.energyPlanned' | translate}}</span>
    <span class="StatusComponent__appliance-status-value">{{toKWh(status.plannedEnergyAmount)}} kWh</span>
  </div>
  <div class="StatusComponent__appliance-status" *ngIf="status.latestEnd != null">
    <span class="StatusComponent__appliance-status-label">{{'StatusComponent.energyLatestEnd' | translate}}</span>
    <span class="StatusComponent__appliance-status-value">{{toWeekdayStringFromDelta(status.latestEnd)}} {{toHHmmFromDelta(status.latestEnd)}}</span>
  </div>
</div>
