.messagebox {
  color: white;
}

.messagebox-level-info {
  background-color: #4caf50;
}

.messagebox-level-warn {
  background-color: #fd9726;
}

.messagebox-level-error {
  background-color: #e30425;
}

.messagebox-icon-with-content {
  display: flex;
  margin: 1rem;
}

.messagebox-content {
  align-self: center;
  margin-left: 0.3125rem;
}
