<div class="ui fields">
  <div class="ui two wide field">
    <label>{{'ScheduleTimeframeDayComponent.startTime' | translate}}</label>
    <input type="text" class="clockpicker" formControlName="startTime">
    <div *ngIf="errors.startTime" class="ui negative message">
      {{errors.startTime}}</div>
  </div>
  <div class="ui two wide field">
    <label>{{'ScheduleTimeframeDayComponent.endTime' | translate}}</label>
    <input type="text" class="clockpicker" formControlName="endTime">
    <div *ngIf="errors.endTime" class="ui negative message">
      {{errors.endTime}}</div>
  </div>
  <div class="ui field">
    <label>{{'ScheduleTimeframeDayComponent.daysOfWeekValues' | translate}}</label>
    <sui-multi-select class="selection form-control"
                      [options]="daysOfWeek"
                      labelField="name"
                      valueField="id"
                      formControlName="daysOfWeekValues"
                      placeholder="{{'ScheduleTimeframeDayComponent.daysOfWeekValues_placeholder' | translate}}"
                      #selectDaysOfWeek
    >
      <sui-select-option *ngFor="let option of selectDaysOfWeek.filteredOptions"
                         class="dropdown-item" [value]="option"></sui-select-option>
    </sui-multi-select>
  </div>
</div>
