<div class="appliance-name">{{getEvNameCharging(status.evIdCharging)}}</div>
<div *ngIf="status.planningRequested">
  <div *ngIf="status.plannedEnergyAmount != null" class="appliance-status">
    <span class="appliance-status-label">{{'StatusComponent.energyPlanned' | translate}}</span>
    <span class="appliance-status-value">{{toKWh(status.plannedEnergyAmount)}} kWh</span>
  </div>
  <div *ngIf="status.chargedEnergyAmount != null && (status.on || status.interruptedSince != null)" class="appliance-status">
    <span class="appliance-status-label">{{'StatusComponent.energyCharged' | translate}}</span>
    <span class="appliance-status-value">{{toKWh(status.chargedEnergyAmount)}} kWh</span>
  </div>
  <div *ngIf="status.currentChargePower != null" class="appliance-status">
    <span class="appliance-status-label">{{'StatusComponent.energyChargePower' | translate}}</span>
    <span class="appliance-status-value">{{getCurrentChargePower(status)}} kW</span>
  </div>
  <div *ngIf="status.latestEnd != null" class="appliance-status">
    <span class="appliance-status-label">{{'StatusComponent.energyLatestEnd' | translate}}</span>
    <span class="appliance-status-value">{{toWeekdayString(status.latestEnd)}} {{toHHmm(status.latestEnd)}} Uhr</span>
  </div>
</div>
