<form class="ui form" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="sae-block" formArrayName="schedules">
    <div *ngFor="let scheduleFormGroup of schedulesFormArray.controls;let i = index" [formGroupName]="i">
      <app-schedule [schedule]="schedules[i]"
                    [form]="getScheduleFormGroup(i)"
                    [electricVehicles]="electricVehicles"
                    [timeframeTypes]="timeframeTypes"
                    [validRequestTypes]="validRequestTypes"
                    (remove)="onScheduleRemove(i)"
                    #scheduleComponents
      ></app-schedule>
    </div>
  </div>
  <div class="mandatory-fields">{{'dialog.mandatoryfields'|translate}}</div>
  <button type="button" (click)="addSchedule()" class="ui button">{{'button.new' | translate}}</button>
  <button type="submit" class="ui primary button" [disabled]="form.pristine||form.invalid">
    {{'button.save' | translate}}</button>
</form>
<!--pre>pristine={{form.pristine}}</pre>
<pre>invalid={{form.invalid}}</pre>
<pre>{{form.value | json}}</pre-->
