<div class="ui fields">
  <div class="field">
    <label>{{'ControlModbusComponent.idref' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="idref">
      <option *ngFor="let modbusSetting of modbusSettings" [ngValue]="modbusSetting.modbusTcpId"
              [selected]="modbusSetting.modbusTcpId==modbusSwitch.idref">
        {{modbusSetting.modbusTcpId}}</option>
    </select>
  </div>
  <div class="field">
    <label>{{'ControlModbusComponent.slaveAddress' | translate}}</label>
    <input type="text" formControlName="slaveAddress">
    <div *ngIf="errors.slaveAddress" class="ui negative message">
      {{errors.slaveAddress}}</div>
  </div>
</div>
<div class="sae-block" formArrayName="modbusWrites">
  <app-modbus-write *ngFor="let modbusWrite of modbusSwitch.modbusWrites; index as i; last as l"
                    [formGroupName]="i"
                    [form]="getModbusWriteFormGroup(i)"
                    [modbusWrite]="modbusWrite"
                    [maxValues]="maxValues"
                    [valueNames]="valueNames"
                    [writeRegisterTypes]="settingsDefaults.modbusWriteRegisterTypes"
                    [translationPrefix]="'ControlModbusComponent.'"
                    [translationKeys]="valueNameTextKeys"
                    (remove)="onModbusWriteRemove(i)"
                    #modbusWriteComponents
  ></app-modbus-write>
  <button type="button" (click)="addModbusWrite()" class="ui button" *ngIf="isAddModbusWritePossible">
    {{'ControlModbusComponent.button.addModbusWrite' | translate}}</button>
</div>
