<div class="fields">
  <mat-form-field>
    <mat-label>{{'MeterModbusComponent.idref' | translate}}</mat-label>
    <mat-select formControlName="idref" required="{{formHandler.isRequired('idref')}}">
      <mat-option *ngFor="let modbusSetting of modbusSettings" [value]="modbusSetting.modbusTcpId">
        {{modbusSetting.modbusTcpId}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="slaveAddress">
    <mat-label>{{'MeterModbusComponent.slaveAddress' | translate}}</mat-label>
    <input matInput type="text" formControlName="slaveAddress"
           required="{{formHandler.isRequired('slaveAddress')}}">
    <mat-error *ngIf="errors.slaveAddress">{{errors.slaveAddress}}</mat-error>
  </mat-form-field>
</div>
<div class="fields">
  <div formArrayName="modbusWrites">
    <app-modbus-write *ngFor="let modbusWrite of modbusSwitch.modbusWrites; index as i; last as l"
                      [formGroupName]="i"
                      [form]="getModbusWriteFormGroup(i)"
                      [modbusWrite]="modbusWrite"
                      [maxValues]="maxValues"
                      [valueNames]="valueNames"
                      [writeRegisterTypes]="settingsDefaults.modbusWriteRegisterTypes"
                      [translationPrefix]="'ControlModbusComponent.'"
                      [translationKeys]="valueNameTextKeys"
                      (remove)="onModbusWriteRemove(i)"
                      #modbusWriteComponents
    ></app-modbus-write>
    <button mat-raised-button type="button" (click)="addModbusWrite()" *ngIf="isAddModbusWritePossible">
      {{'ControlModbusComponent.button.addModbusWrite' | translate}}</button>
  </div>
</div>
