<div class="ui fields">
  <div class="field">
    <label>{{'ModbusWriteValueComponent.name' | translate}}</label>
    <select class="ui fluid dropdown" formControlName="{{this.getFormControlName('name')}}">
      <option *ngFor="let aValueName of valueNames"
              [ngValue]="aValueName"
              [selected]="aValueName==modbusWriteValue.name"
      >{{getTranslatedValueName(aValueName)}}</option>
    </select>
  </div>
  <div class="field">
    <label>{{'ModbusWriteValueComponent.value' | translate}}</label>
    <input type="text" formControlName="{{this.getFormControlName('value')}}">
  </div>
</div>
