<div class="ui fields">
  <div class="ui fields sae-fields">
    <div class="field">
      <label>{{'ControlEvchargerModbusComponent.idref' | translate}}</label>
      <select class="ui fluid dropdown" formControlName="idref">
        <option *ngFor="let modbusSettings of settings.modbusSettings" [ngValue]="modbusSettings.modbusTcpId"
                [selected]="evModbusControl && modbusSettings.modbusTcpId==evModbusControl.idref">
          {{modbusSettings.modbusTcpId}}</option>
      </select>
    </div>
    <div class="field">
      <label>{{'ControlEvchargerModbusComponent.slaveAddress' | translate}}</label>
      <input type="text" formControlName="slaveAddress">
      <div *ngIf="errors.slaveAddress" class="ui negative message">{{errors.slaveAddress}}</div>
    </div>
  </div>
</div>
<div class="ui hidden divider"></div>
<h4 class="ui dividing header">{{'ControlEvchargerModbusComponent.heading.modbusRead' | translate}}</h4>
<span formArrayName="modbusReads">
  <app-modbus-read *ngFor="let modbusRead of evModbusControl.modbusReads; index as i; last as l"
                   [formGroupName]="i"
                   [form]="getModbusReadFormGroup(i)"
                   [modbusRead]="modbusRead"
                   [valueNames]="readValueNames"
                   [translationPrefix]="'ControlEvchargerComponent.'"
                   [translationKeys]="readValueNameTextKeys"
                   [readRegisterTypes]="settingsDefaults.modbusReadRegisterTypes"
                   (remove)="onModbusReadRemove(i)"
                   #modbusReadComponents
  ></app-modbus-read>
</span>
<button type="button" (click)="addModbusRead()" class="ui button">
  {{'ControlEvchargerModbusComponent.button.addModbusRead' | translate}}</button>


<h4 class="ui dividing header">{{'ControlEvchargerModbusComponent.heading.modbusWrite' | translate}}</h4>
<span formArrayName="modbusWrites">
  <app-modbus-write *ngFor="let modbusWrite of evModbusControl.modbusWrites; index as i; last as l"
                    [formGroupName]="i"
                    [form]="getModbusWriteFormGroup(i)"
                    [modbusWrite]="modbusWrite"
                    [valueNames]="writeValueNames"
                    [translationPrefix]="'ControlEvchargerComponent.'"
                    [translationKeys]="writeValueNameTextKeys"
                    [writeRegisterTypes]="settingsDefaults.modbusReadRegisterTypes"
                    (remove)="onModbusWriteRemove(i)"
                    #modbusWriteComponents
  ></app-modbus-write>
</span>
<button type="button" (click)="addModbusWrite()" class="ui button">
  {{'ControlEvchargerModbusComponent.button.addModbusRead' | translate}}</button>
