[Unit]
Description=Smart Appliance Enabler
Requires=mosquitto.service

[Service]
Type=forking
ExecStart=/opt/sae/smartapplianceenabler start
TimeoutStartSec=90
ExecStop=/opt/sae/smartapplianceenabler stop

[Install]
WantedBy=multi-user.target
