[Unit]
Description=Smart Appliance Enabler Container
After=docker.service
BindsTo=docker.service
ReloadPropagatedFrom=docker.service

[Service]
ExecStart=/usr/bin/docker run -v sae:/opt/sae/data --net=host --device /dev/mem:/dev/mem --privileged --name=sae avanux/smartapplianceenabler
ExecStop=/usr/bin/docker stop sae
ExecStopPost=/usr/bin/docker rm -f sae
ExecReload=/bin/docker restart sae

[Install]
WantedBy=multi-user.target
