[Unit]
Description=WiCan SOC monitor
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/opt/sae/soc/wican-soc.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
