<div *ngIf="applianceStatuses == null || applianceStatuses.length == 0" class="ui info message">
  <div class="header">{{'StatusComponent.noControllableAppliances_title' | translate}}</div>
  <p>{{'StatusComponent.noControllableAppliances_message' | translate}}</p>
</div>
<div class="appliances">
  <div class="appliance" *ngFor="let applianceStatus of applianceStatuses">
    <app-traffic-light [key]="applianceStatus"
                       [stateHandler]="getTrafficLightStateHandler(applianceStatus)"
                       [clickHandler]="getTrafficLightClickHandler(applianceStatus)"
                       #trafficLights
    >
    </app-traffic-light>
    <div class="appliance-details">
      <div class="appliance-type">{{getTranslatedType(applianceStatus.type)}}</div>
      <div *ngIf="isEvCharger(applianceStatus); else notEvCharger">
        <app-status-evcharger-edit *ngIf="isEditMode(applianceStatus); else greenNotClickedCharger"
                                 [status]="applianceStatus"
                                 [dows]="dows"
                                 (beforeFormSubmit)="onBeforeFormSubmit()"
                                 (formSubmitted)="onFormSubmitted()"
                                 (formCancelled)="onFormCancel()"
        >
        </app-status-evcharger-edit>
        <ng-template #greenNotClickedCharger>
          <app-status-charger-view
            [status]="applianceStatus"
            [dows]="dows"
          >
          </app-status-charger-view>
        </ng-template>
      </div>
      <ng-template #notEvCharger>
        <app-status-edit *ngIf="isEditMode(applianceStatus); else greenNotClicked"
                         [applianceId]="applianceStatus.id"
                         (beforeFormSubmit)="onBeforeFormSubmit()"
                         (formSubmitted)="onFormSubmitted()"
                         (formCancelled)="onFormCancel()"
        >
        </app-status-edit>
        <ng-template #greenNotClicked>
          <app-status-view
            [status]="applianceStatus"
            [trafficLightStateHandler]="getTrafficLightStateHandler(applianceStatus)"
          >
          </app-status-view>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>
<h4 class="ui dividing header">{{'StatusComponent.explanation' | translate}}</h4>
<div class="traffic-light-explanation">
  <app-traffic-light [stateHandler]="getTrafficLightStateHandlerForExplanation(false, false, false)"
                     sizeSmall="true">
  </app-traffic-light>
  <div class="traffic-light-explanation-text">
    <p>{{'StatusComponent.explanationNoLight' | translate}}</p>
  </div>
</div>
<div class="traffic-light-explanation">
  <app-traffic-light [stateHandler]="getTrafficLightStateHandlerForExplanation(true, false, false)"
                     sizeSmall="true">
  </app-traffic-light>
  <div class="traffic-light-explanation-text">
    <p>{{'StatusComponent.explanationStopLight' | translate}}</p>
  </div>
</div>
<div class="traffic-light-explanation">
  <app-traffic-light [stateHandler]="getTrafficLightStateHandlerForExplanation(false, true, false)"
                     sizeSmall="true">
  </app-traffic-light>
  <div class="traffic-light-explanation-text">
    <p>{{'StatusComponent.explanationSlowLight' | translate}}</p>
  </div>
</div>
<div class="traffic-light-explanation">
  <app-traffic-light [stateHandler]="getTrafficLightStateHandlerForExplanation(false, false, true)"
                     sizeSmall="true">
  </app-traffic-light>
  <div class="traffic-light-explanation-text">
    <p>{{'StatusComponent.explanationGoLight' | translate}}</p>
  </div>
</div>
<!--pre>{{applianceStatuses | json}}</pre-->
