.traffic-light {
  height: 113px;
  width: 40px;
  float: left;
  background-color: #333;
  border-radius: 8px;
  margin: 6px;
  padding: 2px;
}

.traffic-light-small {
  height: 28px;
  width: 10px;
  float: left;
  background-color: #333;
  border-radius: 2px;
  margin: 6px;
  padding: 2px;
}

.traffic-light-explanation {
  min-height: 38px;
  margin: 5px;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.traffic-light-explanation-text {
  margin-left: 22px
}

.bulb {
  height: 30px;
  width: 30px;
  background-color: #111;
  border-radius: 50%;
  margin: 5px auto;
  transition: background 500ms;
}

.bulb-small {
  height: 7px;
  width: 7px;
  background-color: #111;
  border-radius: 50%;
  margin: 1px auto;
  transition: background 500ms;
}

.stopLight {
  background-color: red;
}

.slowLight {
  background-color: yellow;
}

.goLight {
  background-color: #14ff08;
}

.goLight-blink {
  -webkit-animation: NAME-YOUR-ANIMATION 1s infinite; /* Safari 4+ */
  -moz-animation:    NAME-YOUR-ANIMATION 1s infinite; /* Fx 5+ */
  -o-animation:      NAME-YOUR-ANIMATION 1s infinite; /* Opera 12+ */
  animation:         NAME-YOUR-ANIMATION 1s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes NAME-YOUR-ANIMATION {
  0%, 49% {
    background-color: #14ff08;
  }
  50%, 100% {
    background-color: #111;
  }
}

.appliances {
}

.appliance {
  height: 125px;
  width: 350px;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid black;
  font-family: "Lato", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.appliance-type {
  font-weight: bold;
  color: rgba(0,0,0,.6)
}

.appliance-name {
  font-weight: bold;
  font-size: 1.5em;
}

.appliance-status {
  line-height: 1.4em;
}

.appliance-status-label {
  color: rgba(0,0,0,.6);
}

.appliance-status-value {
  line-height: 1.4em;
}

.appliance-switch-on {
  margin-top: 50px;
}
