<div class="ui segment">
  <div class="appliances" *ngFor="let applianceStatus of applianceStatuses" style="display: inline-block;">
    <div class="appliance">
      <div class="traffic-light">
        <div class="bulb stopLight" *ngIf="isStopLightOn(applianceStatus)"></div>
        <div class="bulb" *ngIf="!isStopLightOn(applianceStatus) && !isGoLightOn(applianceStatus)"></div>
        <!--
        <div class="bulb" *ngIf="!isStopLightOn(applianceStatus) && isGoLightOn(applianceStatus)"
             (click)="onClickStopLight(applianceStatus.id)"
             [attr.data-tooltip]="'StatusComponent.tooltipStopLight' | translate"
             data-position="right center"></div>
        -->

        <div class="bulb" [class.slowLight]="isSlowLightOn(applianceStatus)"></div>

        <div class="bulb goLight" *ngIf="isGoLightOn(applianceStatus)"></div>
        <div class="bulb" *ngIf="!isGoLightOn(applianceStatus) && applianceStatus.id === switchOnApplianceId"></div>
        <div class="bulb" *ngIf="!isGoLightOn(applianceStatus) && applianceStatus.id != switchOnApplianceId"
             (click)="onClickGoLight(applianceStatus.id)"
             [attr.data-tooltip]="'StatusComponent.tooltipGoLight' | translate"
             data-position="right center"></div>

      </div>
      <div class="appliance-type">{{getTranslatedType(applianceStatus.type)}}</div>
      <div class="appliance-name">{{applianceStatus.name}}</div>

      <div *ngIf="applianceStatus.id === switchOnApplianceId">
        <form class="ui form" [formGroup]="switchOnForm" (ngSubmit)="submitSwitchOnForm()">
          <div class="ui right labeled input" style="margin: 3px 33px">
            <label class="ui label">Laufzeit</label>
            <input class="clockpicker" type="text" name="minRunningTime" style="width: 70px" formControlName="switchOnRunningTime">
            <div class="ui basic label">Std:Min</div>
          </div>
          <button type="submit" class="ui button" style="float:right; margin-top: 2px; margin-right: 5px"
                  [disabled]="switchOnForm.invalid">
            {{'StatusComponent.buttonStart' | translate}}</button>
        </form>
      </div>
      <div *ngIf="applianceStatus.id != switchOnApplianceId">
        <div class="appliance-status">
          <div class="appliance-status-label">Status seit:</div>
          <div class="appliance-status-value">{{applianceStatus.statusChangedAt}}</div>
        </div>
        <div class="appliance-status">
          <div class="appliance-status-label">{{'StatusComponent.remainingMinRunningTime' | translate}}</div>
          <div class="appliance-status-value">{{getFormattedRuntime(applianceStatus.remainingMinRunningTime)}}</div>
        </div>
        <div class="appliance-status">
          <div class="appliance-status-label">{{'StatusComponent.remainingMaxRunningTime' | translate}}</div>
          <div class="appliance-status-value">{{getFormattedRuntime(applianceStatus.remainingMaxRunningTime)}}</div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="ui dividing header">{{'StatusComponent.explanation' | translate}}</h4>
  <div class="traffic-light-explanation">
    <div class="traffic-light-small">
      <div class="bulb-small"></div>
      <div class="bulb-small"></div>
      <div class="bulb-small"></div>
    </div>
    <p>{{'StatusComponent.explanationNoLight' | translate}}</p>
  </div>
  <div class="traffic-light-explanation">
    <div class="traffic-light-small">
      <div class="bulb-small stopLight"></div>
      <div class="bulb-small"></div>
      <div class="bulb-small"></div>
    </div>
    <p>{{'StatusComponent.explanationStopLight' | translate}}</p>
  </div>
  <div class="traffic-light-explanation">
    <div class="traffic-light-small">
      <div class="bulb-small"></div>
      <div class="bulb-small slowLight"></div>
      <div class="bulb-small"></div>
    </div>
    <p>{{'StatusComponent.explanationSlowLight' | translate}}</p>
  </div>
  <div class="traffic-light-explanation">
    <div class="traffic-light-small">
      <div class="bulb-small"></div>
      <div class="bulb-small"></div>
      <div class="bulb-small goLight"></div>
    </div>
    <p>{{'StatusComponent.explanationGoLight' | translate}}</p>
  </div>
</div>
