@import '../../styles';

.StatusComponent {
  font-size: 0.875rem;

  &__appliances {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__appliance {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    padding: 0.375rem;
    margin: 0.375rem;
    border-radius: 0.5rem;
    border: 1px solid black;
  }

  &__appliance-details {
    display: flex;
    flex-direction: column;
    width: min-content;
    margin-left: 0.375rem;
  }

  &__appliance-details-row {
    display: flex;
    align-items: center;
  }

  &__appliance-button-row {
    justify-content: center;
  }

  &__appliance-type {
    font-weight: bold;
    color: rgba(0,0,0,.6)
  }

  &__appliance-name {
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
    white-space: nowrap;
  }

  &__appliance-status {
    white-space: nowrap;
  }

  &__appliance-status-label {
    padding-right: 0.1875rem;
    color: rgba(0,0,0,.6);
  }

  &__appliance-status-value-indented {
    padding-left: 1rem;
  }

  &__explanation_headline {
    @extend .sae__heading-extra-top-margin;
    margin-bottom: 8px;
  }

  &__explanation_chargemode_row {
    vertical-align: top;
  }

  &__explanation_chargemode_label {
    font-style: italic;
  }

  &__mandatory_fields_hint {
    @extend .sae__mandatory_fields_hint;
    margin: $field-margin 0;
  }

  &__traffic-light-explanation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 0.3rem;
  }

  &__traffic-light-explanation-text {
  }
}
